[2017-01-18 13:23] elpete opened #2 "No retries if a response is returned (even a 4xx or 5xx response)"
A question before I do any work on a pull request.

In trying to use this library, I noticed that my requests weren't being retried at all.  It turns out that it was because they were returning a response as well, a 500 response.  [This line here](https://github.com/softonic/axios-retry/blob/master/es/index.js#L41) prevents retries in that case.

Would you be open to a pull request that addresses

[2017-01-18 18:04] rubennorte commented on #2
The original goal of this package was to retry requests when there were network errors. Retrying requests when the server responds isn't always safe. We could consider a `isRetryAllowed: (error) => boolean` option to configure that behaviour and maintaining the current one as default.

[2017-01-23 21:44] chuckhacker opened #3 "Exponential backoff?"
It's "good practices" to have exponential backoff for successive retries. Any plans to implement this?

[2017-01-24 10:46] rubennorte commented on #3
We wrote this plugin just to retry network errors and we didn't expect to retry too many times, but that's a feature that could be added (together with #2).

Perhaps a `retryInterval` (that could be a number or a function that receives the request `config`) would be a good option to add. Would you consider creating a PR?

[2017-02-01 17:53] rubennorte opened #5 "Timed out requests should not be retried"
At the moment if a request is cancelled because it timed out, the library retries it increasing the response time unnecessarily.

[2017-02-02 00:51] TheChuckster commented on #3
Unfortunately, I realized a bit later that the environment that I am running my code in does not support JS promises (old version of SeaMonkey), sorry.

Once I fix this, sure, but right now upgrading things is a "nice to have" for us.

[2017-02-02 20:09] #5 closed

[2017-02-06 13:57] erdii opened #6 "License"
What license is this module intended to be published in?

[2017-02-06 14:08] rubennorte commented on #6
It's Apache 2.0. We included it in the package.json but forgot to add the LICENSE file. Now it's in the root directory.

Thanks for asking.

[2017-02-06 14:08] #6 closed

[2017-02-07 08:09] erdii commented on #6
Thank you for your fast response! :)

[2017-03-07 09:40] #2 closed

[2017-03-09 18:13] antony commented on #3
I'm also looking for exponential backoff, but even a simple way to control the retry timeout would be useful.

My suggestion is to have two configuration methods:

Simple config
[code]

or a function, to allow exponential backoff.

returning `-1` means don't retry
returning `1000 * attempt` means that on attempt 5, the retry delay is 5 seconds.
[code]

[2017-03-09 18:40] antony opened #8 "Doesn't retry on timeout"
I think the title explains it. The code specifies

[code]
and there is no way to override it.

Retrying when an endpoint timeouts is pretty much our only use for a retry module. I'd like to be able to override all the retry conditions - but I'm also confused as to why we wouldn't retry on a timeout in the first place?

[2017-03-10 14:17] erdii commented on #8
I think this is because of #5

[2017-03-10 14:34] antony commented on #8
Thanks @erdii - that issue doesn't make any sense at all. Timeouts should definitely be retried. For us at least, it's the only reason we want to retry!

[2017-03-10 14:36] erdii commented on #8
I'm testing the lib right now and it seems that it doesn't retry if you disconnect from the network (on mobile) at all.

maybe we should give tomaash/axios-status a try. (even though it changes the request interface)

[2017-03-10 15:14] antony commented on #8
I've had to revert back to `got` right now because this transition is taking too long. next time I venture into it I will look at axios-status so thanks for that!

[2017-03-15 08:22] rubennorte commented on #8
The error that's being specifically ignored in the code is ECONNABORTED, which means that the program itself cancelled the request due to a specific cancellation or a timeout. What use case do you have that you need to retry those? Why don't you simply increment the timeout?

Retrying on timeout could make requests too slow, as if something goes wrong you'll be paying the cost of the timeout for e

[2017-03-15 09:46] antony commented on #8
What we do is talk to a variety of different bank APIs to get loans. Some of these APIs can take upto 2 minutes to reply, and often they will take longer. What we do is set our timeout to 2 minutes, and if they take longer, we just retry the request. We do this up to 5 times before giving up.

With got (native)/request (requestretry) this is no problem, but I'd like to switch to axios - however th

[2017-03-17 08:28] Lxxyx commented on #8
Add a new config? retryOnTimeout, set default to false.

In someway, timeout means I wants to cancel this request and retry.

[2017-03-22 21:34] TheChuckster commented on #3
I'm back, working on this.

[2017-03-29 15:06] erdii commented on #8
A new option `retryCondition` (Default: error => !error.response) has been added.
This issue can be closed now, am I right?

[2017-04-19 13:51] Lxxyx commented on #8
@erdii idea is great. Can you change the code? @antony

[2017-04-19 13:55] antony commented on #8
Yes @erdii - this is exactly what I was suggesting. To be able to configure the retry conditions in this way is absolutely critical.

[2017-04-20 07:29] erdii commented on #8
I'm a bit busy right now - but I have school next week so I'll have plenty of time to implement it and create a pull request. Is this ok? @Lxxyx @antony ?

@rubennorte are you willing to accept my pr when i provide test coverage and doc updates? :)

[2017-04-26 09:22] erdii commented on #8
I have implemented the changes, tests, and documentation at https://github.com/erdii/axios-retry/commit/25faf8f9a2115613f0750767abacd791670a7ce4. Creating a pull request now.

[2017-05-23 12:49] rubennorte commented on #8
We're going to make some changes in the library soon, including one to solve this issue. What do you think about:

[code]

[2017-05-23 15:50] antony commented on #8
Seems reasonable to me @rubennorte. I'd also recommend adding some sort of `retryDelay` parameter which can be a simple number, or a function which is passed the last error, and the current retry count, allowing for exponential decays, thus:

[code]

Maybe this is a new feature rather than an addition to this one, but it's something `got` has built in - and ultimately was our reason for switching

[2017-06-15 20:25] danab opened #15 ""Module Parse Failed: ... package.json Unexpected token""
I noticed today that my build was failing, and throwing this error.

[code]

My package.json included:

[code]

Tried upgrading to 2.0. Same error. Tied it directly to 1.1.0 (removed the `^`) and it seemed to work. Sorry I'm unclear about what is actually going on, or I would just send a PR. Hope that's helpful and thank you for the package.

[2017-06-17 15:54] raychenfj commented on #8
Hi @rubennorte,

I check you latest version, but this line still prevent it retry on timeout.
[code]
I think put it into the default retryCondition is a better idea, so anyone doesn't need it can override it. I can send a PR if you need.
[code]

Thanks for making this lib, I use it in my projects, but I have to make a copy and remove that line every time., it's really inconvenient.

[2017-06-19 09:26] rubennorte commented on #15
Fixed both in v1 (1.3.1) and in v2 (2.0.1). We were importing the `package.json` file just to get the package name to namespace values in axios request configurations. We just hardcoded it so the import is not necessary.

[2017-06-19 09:26] #15 closed

[2017-07-05 07:10] kulakowka opened #16 "Infinite recursion in baseURL"
I received a very strange bug:

![2017-07-05 9 45 47](https://user-images.githubusercontent.com/557190/27852172-c0066118-6166-11e7-9e7a-ea218cd65139.png)

My configuration looks like this:

![2017-07-05 10 07 51](https://user-images.githubusercontent.com/557190/27852973-d77df470-6169-11e7-957f-e6972fff9395.png)

If you specify the full base url ("http://localhost:3000/api/"), then everything works

[2017-07-10 07:40] rubennorte commented on #16
I just inspected Axios code and the cause of that bug is that Axios resolves the full URL before calling interceptors, so we receive the built URL in `config.url` and `config.baseURL` still has a value. We could fix that in our side but I think that's something Axios should handle (internally removing baseURL once it's used or resolving URL's just before the request must be made).

Would you consi

[2017-07-10 13:14] kulakowka commented on #16
I'm afraid that I can not even formulate the problem correctly. ^_^

[2017-07-23 08:50] htfy96 opened #17 "Only retry for idempotent methods"
Current implementation will resend the requests even for `POST` method. However, it could be the case that the request has arrived at the server, while the response timed out. In this situation, this library will resend the `POST` request and the server will then receive a disastrous duplicate `POST`. So I was wondering that is there any way to retry only for idempotent methods?

[2017-07-23 09:12] htfy96 commented on #17
Here is my workaround. Hope that it would be default configuration:
[code]

[2017-08-03 13:26] s3rious commented on #3
Well, I've basically just implemented this in my fork: https://github.com/s3rious/axios-retry/blob/master/es/index.js#L116

Config now receives 3 arguments, I've added `delay`, which can be a simple number or a function who receives an attempt count and should return number.

If Somme will help with tests and `README.md` I think we can make it a PR.

[2017-08-11 23:34] AlanFoster commented on #17
I agree; That's a really simple work-around too :+1:

[2017-08-12 10:46] rubennorte commented on #17
@htfy96 have you ever experienced such behaviour? At the moment this plugin just retries safe network connection errors and explicitly avoids timeouts and cancellation errors (see https://github.com/softonic/axios-retry/blob/master/es/index.js#L107).

The `retryCondition` allows you to configure stricter conditions but with the base condition it should be fine.

[2017-08-12 13:40] rubennorte commented on #16
This is already fixed in https://github.com/mzabriskie/axios/pull/950 so it'll work fine in axios-retry when it's released.

[2017-08-12 13:40] #16 closed

[2017-08-12 15:44] AlanFoster commented on #17
@htfy96 Check out what Stripe do to ensure their endpoints are idempotent:

https://stripe.com/blog/idempotency

[2017-08-13 19:40] #8 closed

[2017-08-13 20:01] #17 closed

[2017-08-13 20:05] rubennorte commented on #17
I just released a new version (3.0.0) that retries idempotent requests by default along with network errors.

[2017-08-15 16:21] AlanFoster opened #20 "react-native Support"
Hey; I've just been checking out using axios-retry with a react-native client.

Axios 2.x worked great, but no longer works with the new 3.x release.

I pinned it down to this predicate now failing:

[code]

For visibility, the react-native axios object within an error scenario was:

[code]

Thankfully the API for axios-retry is pretty good as it allows you to provide an override for this check, b

[2017-08-16 14:07] danrlee opened #21 "Handling Timeouts"
Hi,

I've noticed two things that are potentially issues when handling timeouts.

You honour the original timeout across retries but the code doesn't take into account the initial request time.  If the first request took 95ms and there was a timeout of 100ms, the code would start making retry requests assuming you had the full timeout duration available, effectively doubling the timeout.

Calls ar

[2017-08-16 15:16] rubennorte commented on #21
I see 2 issues here:

- Passing timeouts <= 0 in browsers, which means no timeout.
- Not taking the initial request into account for the timeout across retries.

I'm about to open a PR to fix both of them.

[2017-08-16 15:42] #21 closed

[2017-08-16 15:52] rubennorte commented on #20
We added the condition to prevent unknown network errors being retried blindly but we forgot to remove the restriction for safe and idempotent requests (which is now the default). Fixing in a following PR.

[2017-08-16 16:06] rubennorte commented on #20
Fixed and released in 3.0.1

[2017-08-16 16:06] #20 closed

[2017-08-16 16:06] rubennorte commented on #21
Fix released in 3.0.1

[2017-09-06 05:42] towfiqi commented on #3
@s3rious Just replaced the `es/index.js` with your one and then tried like this but there was no delay `axiosRetry(axios, { retries: 3,delay : 11000 });`

[2017-09-10 13:01] yipcma commented on #3
interested in exponential delay as well

[2017-09-14 18:37] s3rious commented on #3
@towfiqi That's strange, have you rebuilt the lib after making changes?
I've just started a simple project with my fork, here is a [gist](https://gist.github.com/s3rious/506dd37c6de0ae3577a12e515ed1541c), and delay [works ok](http://take.ms/7tXGW).

[2017-09-18 05:56] NemoAlex opened #24 "Something wrong with the timeout handling?"
In my case, I tried to make a client with 3s timeout:

[code]

And apply a retry:

[code]

When I test it, the original request times out after 3s as normal, but after that, 2 retries fails immediately.

What I want is every request could wait 3 seconds. What should I do?

[2017-09-29 09:52] rubennorte commented on #24
That isn't supported. This library is meant to work transparently so using the specified request timeout in every retry would increase the overall timeout considerably. You could do it with an additional interceptor that resets the timeout after axios-retry creates the retry request.

If you'll be willing to create a PR we can consider adding a `shouldResetTimeout` option that defaults to `false`.

[2017-09-29 09:52] #24 closed

[2017-11-07 18:41] gregorym commented on #3
What is the progress on this?
@towfiqi Looking at your code this is not exponential backoff, it is linear since I can only pass a number.

delay should accept a number or a function so anyone can customize their delay logic.

[2017-11-09 18:09] shabailiu opened #25 "Add callback option when it retries"
It would be useful to have a callback function whenever `axios` retries, for example to update UI status.

[2017-11-20 14:15] ivoreis opened #26 "Timeout should be preserved"
I'm not exactly sure why we use a default timeout of 1ms, shouldn't the config.timeout be preserved if config.timeout > 0?

[code]

https://github.com/softonic/axios-retry/blob/e2fb34f0be38d3566be3aab565ed59ba97cb21af/es/index.js#L175

[2017-12-08 17:54] Nudelsieb opened #27 "Missing export for isRetryableError()"
This is needed inside `retryCondition` if one wants to retry for POST requests. The other exported error checks are not sufficient for this.

We could also think about adding a config object to override `SAFE_HTTP_METHODS` or use a separate constant. However, the export fix is easier and quicker.

[2017-12-16 00:20] recz5 commented on #25
I'm working on an existing code based that has axios-retry implemented and it is hard to debug. It is difficult to identify if it is retrying. A callback would be helpful.

[2017-12-16 13:19] zxiest opened #29 "React-native support?"
Hello =)

It seems that this  works perfectly on the simulator but when deployed on the device, it ceases to work with react-native on iOS.

Any clue why this might be happening?

[2017-12-20 18:18] modille commented on #26
See https://github.com/softonic/axios-retry/issues/24#issuecomment-333084181

And in the README now:

So if you set a timeout of 10s and the request fails after 3s, then the retry will set the timeout to 7s (10s - 3s).

Personally, I think it'd make more sense to `reject()` whenever `config.timeout - lastRequestDuration < 1` rather then perform a retry with a 1ms timeout, but I haven't tried it ou

[2018-01-01 19:58] jony89 commented on #8
@rubennorte

Still I can't use the lib implementation overall.

`isNetworkError` and `isIdempotentRequestError` checks for :

[code]

This error code receive when defining axios a timeout, and it has passed.
This is like the most wanted scenario to retry.

So currently I still cant use this function implementation.

Maybe you could have a configuration option to decide whether or not to check for

[2018-01-09 15:22] rubennorte commented on #29
With the information you provide I'd say it's a problem in Axios or in the XHR implementation that React Native uses, not a problem in axios-retry. If you find anything that suggests the problem is here please reopen with more information.

[2018-01-09 15:22] #29 closed

[2018-01-09 15:23] rubennorte commented on #27
Would you be willing to open a PR to fix it? ;)

[2018-01-09 15:24] rubennorte commented on #26
The 1ms timeout is used to let Axios throw the timeout error, so we don't have to create a custom error that mimics the Axios one.

[2018-01-09 15:24] #26 closed

[2018-01-09 15:27] rubennorte commented on #25
I think you could use a different interceptor to detect retries. You just need to register it after axios-retry and check the retry count. We're trying to keep the API minimal, and this use case can be implemented without adding new options.

[2018-01-09 15:27] #25 closed

[2018-01-10 10:18] rubennorte commented on #8
As stated in a PR that was adding that as a configuration (which was rejected as we're trying to keep the API minimal), you can still retry timeout errors using the built-in functions with way:

[code]

[2018-01-16 08:02] matthiasfeist commented on #3
Is there any progress on that?

[2018-01-16 11:22] rubennorte commented on #3
@moose56 is working on it in #28

[2018-01-16 18:52] matthiasfeist commented on #3
Sorry I must have missed that there is a PR open... Thanks!

[2018-01-17 23:40] dashmug commented on #3
This is great.

[2018-01-22 23:50] JulesAU commented on #16
I'm running the latest Axios (0.17.1) and I'm still seeing this behaviour.  Have had to specify an absolute baseURL to work around it.

[2018-01-24 10:19] jlaamanen opened #32 "Missing index.d.ts when installed with npm"
When installing with `npm install axios-retry`, the typings file `index.d.ts` is missing. The included files seem to be explicitly defined in the `files` array in `package.json`, and the easy fix for this would be just to add `index.d.ts` there.

I'll be opening a PR for this shortly.

[2018-01-29 14:41] #32 closed

[2018-01-29 14:44] jlopezxs commented on #27
Fixed with #31

[2018-01-29 14:44] #27 closed

[2018-02-09 14:34] #3 closed

[2018-02-15 21:38] thatmarvin opened #34 "Custom `retryDelay` function with additional optional params are incorrectly executed"
In https://github.com/softonic/axios-retry/blob/v3.0.2/es/index.js#L195, `retryDelay` is passed in `error` as the second arg, but doesn't look like `error` actually used?

This is a problem when I pass in a custom `retryDelay` function that looks like this:

[code]

So when `retryDelay` gets called, `firstInterval` incorrectly becomes the error object.

[2018-02-16 09:36] mawrkus commented on #34
Hi!
It looks like your `customBackoff(retryNumber, firstInterval, maxInterval)` function doesn't follow the same signature as `retryDelay(retryCount, error)`.  Maybe you could do something like:
``
function retryDelayFactory(firstInterval ? : number = 1000, maxInterval ? : number = 5 * 60 * 1000) {
  return function retryDelay(retryCount, error) {
    // …
  };
}

axiosRetry(axios, {
  retryDelay:

[2018-02-16 16:32] thatmarvin commented on #34
Ah just realized that the args are actually documented, I just totally missed it cos I was referencing the implementation directly. So it's all good, thanks!

[2018-02-16 16:32] #34 closed

[2018-03-01 14:16] anagrath opened #35 "Is there a way to plug into the retry process to display feedback to user?"
Hi,

I love this.  I'm starting to think about the failure scenario, and what I was thinking was after the first request fails (or maybe the second or third), I'd like to display a dialog box informing the user that we are having some network issues and we are retrying... to change on final error to asking them to check their internet connection.

We want that because we are using axios on mobile

[2018-03-03 09:41] mawrkus commented on #35
Hi!

Have you tried:

``
function retryDelay(retryNumber = 0) {
  displayRetryMessage();
  const delay = Math.pow(2, retryNumber) * 100;
  const randomSum = delay * 0.2 * Math.random(); // 0-20% of the delay
  return delay + randomSum;
};

function displayRetryMessage(retryNumber) {
  if (retryNumber > 1) return;
  alert('Ooops! We are having some network issues & we are retrying. Thanks for being

[2018-03-03 14:32] anagrath commented on #35
Had not thought of that. After I read the code I forked and added it.  Would you mind seeing the PR? It is a little cleaner than doing what you recommend and I am happy either way if you say go this route... though reimplementing the exponential decay backoff is what I was trying to avoid.

Best

Sent from my iPhone

[2018-03-03 16:46] anagrath commented on #35
I think it makes sense.  I will reimplement today and if it is working I will kill my fork and PR.

Though, we should at least update the documentation… that is darn confusing to use the delay function for callback :).

[2018-03-04 03:40] #35 closed

[2018-03-23 15:00] PabloReszczynski opened #38 "Request: Add infinite number of retries"
I would like to have axios retry indefinitely

[2018-03-24 10:12] jlopezxs commented on #38
You can try:
`axiosRetry(axios, { retries: Infinity });`

[2018-04-04 16:46] ValentinH opened #39 "New option to also retry on timeout"
Thanks for this great package.

Would you accept a PR adding an option to also retry on timeouts?

I understand that we can override the  `retryCondition` with custom logic. However, I ended up copying the `isRetryableError`, `isIdempotentRequestError` and `isNetworkOrIdempotentRequestError` in my code just for removing the checks about `error.code !== 'ECONNABORTED'`. This doesn't feel right.

[2018-04-04 22:36] rubennorte commented on #39
You could do this without copying the functions:

[code]

[2018-04-05 04:58] ValentinH commented on #39
I'm not sure this would work because for example this would retry on a timeout on a POST request (idempotent criteria).

[2018-04-05 07:45] #38 closed

[2018-04-12 16:01] you-fail-me opened #41 "Typescript fails to compile with axios-retry"
axios-retry version: v3.0.2

typescript version 2.8.1

Fails to compile, getting
[code]

When I hover over that line in the source code I get the same error. What is the reason? How can it be fixed? Don't mind making a PR if someone explains a bit on that

[2018-04-16 14:47] jbesta opened #43 "isRetryableError not exported for CommonJS"
version: *3.0.2*

`isRetryableError` function is exported for ES6 usage via

[code]

but is not exported on the bottom of the library in section

[code]
and thus unavailable in CommonJS environments.

[2018-04-23 20:29] yns01 opened #45 "Need maintainers?"
Hey @rubennorte @jlopezxs ,

I was wondering if you were looking for any maintainer? I'm actively using axios-retry and I would be ready to maintain the repository.

[2018-04-24 08:47] jlopezxs commented on #45
Hi @yns01,
I will talk with the coworkers because the package is part of the group of the company.

Thank you!

[2018-04-24 18:36] yns01 commented on #45
Thanks @jlopezxs !

Not related, but I did not feel a issue is needed; do you mind publishing a new version of the package to include the latests commits?

[2018-04-26 14:15] jlopezxs commented on #45
Update to 3.1.0!

[2018-04-26 21:01] yns01 commented on #43
I think we can close this one as PR #44 has been merged

[2018-04-27 07:51] #43 closed

[2018-04-27 07:53] jlopezxs commented on #39
Added `shouldResetTimeout`. Thanks to @yns01 !

[2018-04-27 07:53] #39 closed

[2018-04-27 08:56] ValentinH commented on #39
Actually, this is a related topic but not exactly what I was suggesting to contribute.

`shouldResetTimeout` defines if the timeout should be reset between retries.
`retryOnTimeout` would also retry when a call timeouts (which is not the case today due to [this check](https://github.com/softonic/axios-retry/blob/master/es/index.js#L24)).

[2018-04-28 18:56] abelino commented on #41
Are you running into any runtime errors? I am running into `TypeError: axios_retry_1.default is not a function` when importing as the docs suggest:
`import axiosRetry from 'axios-retry'`

switching to `import * as axiosRetry from 'axios-retry'` fixes the runtime error but obviously results in a type error

[2018-04-30 15:09] you-fail-me commented on #41
The error you're getting looks like something misconfigured with typescript. I don't use synthetic default exports and do `import * as axiosRetry from 'axios-retry'` and it works for me. I'd check tsconfig for possible reasons

[2018-05-17 08:57] yns01 commented on #45
Thanks @jlopezxs for the invitation!

[2018-05-17 08:57] #45 closed

[2018-05-18 11:35] finnp opened #48 "Reset transformRequest to avoid double encoding"
Right now the retry uses the same config as the first request. So the `transformRequest` happens twice.

So for the retried request should reset it to be `[]`.

Alternatively axios should just not modify the config input here: https://github.com/axios/axios/blob/2b8562694ec4322392cb0cf0d27fe69bd290fcb2/lib/core/dispatchRequest.js#L25

[2018-05-21 21:09] #41 closed

[2018-05-27 08:12] garyking opened #51 "429 error isn't caught by axios-retry"
Is this a bug? I'm using axios to read some URLs. Sometimes I get a `429 TOO MANY REQUESTS` error. Therefore I have code like the following:

[code]

Yet I still get tons of errors like this:

[code]

Isn't the code I have supposed to catch all 429 errors, so these errors shouldn't appear in the terminal?

I notice that most 429 errors are actually caught, but some are not. And those ones result i

[2018-05-27 19:58] #51 closed

[2018-05-27 20:05] garyking commented on #51
I'm an idiot. `retries` is set to `3` by default. I just need to set it to a higher number.

[2018-06-01 13:09] ruscon opened #52 "Need to update index.d.ts file"
Now it does not include the following things

[code]

[2018-06-11 20:06] #48 closed

[2018-06-11 20:08] yns01 commented on #52
Are you willing to to a PR @ruscon ?

[2018-06-12 19:48] ruscon commented on #52
Can not get my ssh keys to work :/

[2018-06-27 16:08] xkizer opened #53 "axios_retry_1.default is not a function"
index.d.ts says that there is a default export, but index.js has no default export, thereby throwing this error when compiled without babel.

[2018-07-02 09:41] philjones88 commented on #52
Just did a PR for this, I hit this too with Typescript.

[2018-07-02 10:42] philjones88 commented on #53
The workaround (not pretty) is to use `require` like:

`const axiosRetry = require('axios-retry');`

[2018-07-02 18:33] ChavaSobreyra commented on #53
I ended up just doing `axiosRetry.default(...)`

[2018-07-03 08:18] #52 closed

[2018-07-07 08:02] zgayjjf opened #55 "Why axios-retry config didn't lose?"
Hello there,

Axios-retry is a excellent lib.
I'm reading it's code, and there is something I don't understand.

According to the code [here](https://github.com/axios/axios/blob/master/lib/core/Axios.js#L36) and [here](https://github.com/axios/axios/blob/master/lib/core/mergeConfig.js), Axios will only merge some predefined attributes on config, which means axios-retry config will get lost.

Howev

[2018-07-13 14:50] threesquared commented on #53
Same issue and also seeing

`Property 'isNetworkOrIdempotentRequestError' does not exist on type 'IAxiosRetry'`

[2018-07-16 23:43] chobo2 opened #56 "How does this work with Refresh Tokens?"
Hi

I am wondering how axios-retry figures out when to try again? I have a site that will have refresh tokens, so if a request fails it might be just as simple as getting a new "access token".

How can Axios to basically say if the first request failed, look if it is a 401 error and if so get a new token and then try again.

[2018-07-18 08:18] yns01 commented on #56
Hey @chobo2, you can easily provide your own retry condition via the `retryCondition` parameter

[2018-07-18 16:21] chobo2 commented on #56
@yns01

I will have to look in more detail, but how I setup my axios right now, I am using interceptor on response, if a 401 comes back, it will automatically through the interceptor send the refresh token and if successful  it will resend the original request.

How would axios-retry and the interceptor place nice together, so axios-retry would only resend if the interceptor was able to re authent

[2018-08-02 07:57] mattwexa commented on #53
Hi, I had the same error. I solved it by setting `"esModuleInterop": true` in `tsconfig.json` and using the ES6-style import `import axiosRetry from 'axios-retry';`. This setting is recommended according to the [official TypeScript website](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-7.html)

I'll open an issue for the missing types.

[2018-08-02 08:03] mattwexa opened #58 "Release new version with updated index.d.ts file"
Hi,

I noticed that a few functions are missing from `index.d.ts` in the latest released version (issue #52), and I see that this has been fixed in `master` (PR #54). Would it be possible to release a new version with this fix?

Thanks!

[2018-08-10 10:17] adriantombu commented on #58
Same problem here 😁

[2018-08-17 18:32] ak5 commented on #58
+1 for `axiosRetry.exponentialDelay`

[2018-08-21 06:58] mattwexa commented on #58
Pinging @jlopezxs from @softonic who appears to be maintaining this package: could you please release a new version with the fixed index.d.ts file?

[2018-08-21 07:01] mattwexa commented on #53
I think what is missing is something in the README to say that this library requires `esModuleInterop` to be `true`. In that case, I suggest that this issue be closed and I'll create a pull request to add documentation. Does that sound ok? @softonic @philjones88

[2018-08-23 07:42] yns01 commented on #58
@jlopezxs Could you please do a release?

[2018-08-25 14:34] actraiser opened #59 "retries-property not working when using axios v0.19.0-beta.1"
I noticed that the library will not honor the number in the retries-property when using the 0.19.0 beta release of Axios. The retryCount seems to always remain at 1 on errors, so axios-retry infinitely retries requests and never fails. Not sure what exactly causes the new behavior but here is some information on what changed in 0.19.0:

[Axios Releases Page](https://github.com/axios/axios/releases

[2018-08-27 11:57] ignacio-blas commented on #41
Hi, I has same error with TypeScript and axios-retry 3.1.0.

In index.d.ts the code in line 33-38 contains this interface:

    export interface IAxiosRetry {
      (
        axios: axios.AxiosStatic | axios.AxiosInstance,
        axiosRetryConfig?: IAxiosRetryConfig
      )
    }

This interface defines its params types, but not its return type. If you have a TypeScript configuration with strict

[2018-09-03 21:34] diogosuguimoto opened #60 "Axios-retry keep adding interceptos to axios"
Axios-retry should handle the situation when already exists an interceptor created by him.
Very simple example: https://codesandbox.io/s/00qr9o69w0

[2018-09-04 19:40] jyrodrigues commented on #60
It could be argued that the user should handle this. But IMHO this could have a much better API design, preventing devs from unintendedly making multiple promises trying to resolve (while [generating more promises](https://github.com/softonic/axios-retry/blob/master/es/index.js#L215)) at the same time (when one of them is rejected).

[2018-09-06 11:29] nandafirmans commented on #53
this is works for me

[code]

[2018-09-17 09:36] probil opened #62 "retryDelay should accept number or function"
Hi, guys

Thanks for you library. 👍
I have a question. What is the reason behind passing `retryDelay` as a function? In vast majority of cases we use plain numbers and we have to wrap this numbers to functions all the time.

It would be nice if we can pass number or function to `retryDelay`
As it will:
- improve readability
- simplify the code
- allow us to store configuration in json

[2018-10-19 09:11] Bazze opened #63 "Using response headers in retry logic"
Hey there!

Are there any possibilities to use information from the response of the failed request when defining the response delay? When rate limited for example, some APIs return a `Retry-After` header with a value indicating when you can try again ([like Slack for example](https://api.slack.com/docs/rate-limits#responding_to_rate_limiting_conditions)). I went through the source code quickly and

[2018-10-19 09:57] rubennorte commented on #63
Sure, the second parameter of `retryDelay` is the error, which contains the response. You can just do:

[code]

You should check the value of the header, but you can get the general idea.

[2018-10-26 10:36] kushbhandari opened #64 "update timeout value when retrying"
Is it possible to update timeout value (no reset) when retrying first time and update again when retrying second time and so on ?

[2018-11-08 19:23] 0FilipK opened #65 "Probably error in `isNetworkError` function"
Hello,

I spend a while to debug why my app are not retry calls and I found that If caused by `isNetworkError` function. Function takes parameter `error` and checks:

[code]

The problem is if you have 401 (Unauthorized) error the error.response looks like:

[code]

so first two conditions are not true. Response does exist and error.code is not Boolean (it's undefined actually). The next two "chec

[2018-11-19 16:35] sonniimukh commented on #65
I don't think that `401` is actually a network error. You sent request and received a response. Thus, the network layer works just fine. You probably need to handle authorization in other middleware.

Having that said, there seems to be a real error in this function/logic.

The use case I've been working on recently is a front end that periodically checks the status updates from the API by doing r

[2018-11-27 23:18] Fitzpasd commented on #59
The is being caused by the new [mergeConfig](https://github.com/axios/axios/blob/master/lib/core/mergeConfig.js) implementation they are using.  The retry code relies on injecting a `axios-retry` key into the config for use later.  This is no longer valid since they aren't merging in any unknown keys.

[2018-12-07 05:06] falstack commented on #56
I have same question

[2018-12-07 22:02] chobo2 commented on #56
@falstack

I never figured out how to do this and sort of moved away from all this. The one problem I found with interceptors was if you got a page and you got like 5 ajax requests firing at once.

If the token is expired then the request will fail and the access token will be sent but if you got like 5 of them firing all at the same time they all might try to send the 1 access token back which af

[2018-12-08 15:20] falstack commented on #56
@chobo2 timer（setInterval） maybe is a good idea，thanks！

[2018-12-09 22:44] chobo2 commented on #56
Yep use setInterval not setTimeout like I did my accident  the first time around and was wondering why it did not refresh after the first time.

[2018-12-11 21:17] bmakuh commented on #58
+1 on this. As a workaround, you can do `"axios-retry": "softonic/axios-retry#40e3f07"` in your package.json

[2018-12-20 10:28] Duncan00 opened #66 "Default retry even in non-idempotent methods when network errors"
As long as there is a network error, it will do retry, regrading of the HTTP methods:
https://github.com/softonic/axios-retry/blob/master/es/index.js#L63

So even in `ETIMEDOUT` or `ECONNRESET`
https://github.com/softonic/axios-retry/blob/master/es/index.js#L14
https://github.com/floatdrop/is-retry-allowed/blob/master/index.js#L4

So it is possible that in a non-idempotent POST request, it will do

[2018-12-21 03:30] Duncan00 opened #67 "Infinite recursion in baseURL"
This issue is still exists:
https://github.com/softonic/axios-retry/issues/16

We created a client, with retry.
[code]

When retry, the baseURL will keep adding to prefix.

[2018-12-26 13:01] dmitrirussu commented on #53
same issue

[2019-01-21 23:11] lawloretienne commented on #58
I get the following error
src/index.ts(44,49): error TS2339: Property 'exponentialDelay' does not exist on type 'IAxiosRetry'.

event when i tried your workaround @bmakuh.

@mattwexa What is the status on this issue?

[2019-01-22 08:30] mattwexa commented on #58
@lawloretienne basically the issue is already solved on master, we're just waiting for a release by the maintainer of this package. Could somebody from @softonic-auto please answer? If you are not maintaining this package anymore, could you please let us know? cc @bvis @ivanmp91 @jeurrutia @jlopezxs @superruzafa

[2019-01-22 08:39] adriantombu commented on #58
If you need someone to help maintain the package, I'll be glad to give you a hand on that 👍

[2019-01-22 09:20] chatoo2412 commented on #58
[Workaround](https://stackoverflow.com/a/40326719)

[2019-01-24 09:00] mawrkus commented on #58
Hi everyone,
Sorry for the delay, we'll be looking at this asap!

[2019-01-24 13:57] mattwexa commented on #58
Awesome thanks @mawrkus! I updated to the latest version, the typings work as expected. I guess you can close the issue now :)

[2019-01-24 13:58] mattwexa commented on #58
Actually I opened this issue, I'll close it 😃

[2019-01-24 13:58] #58 closed

[2019-02-23 11:37] ivoiv commented on #67
I think you're doing something wrong elsewhere because it works fine for us.
Remember baseURL should be an absolute URL, not a relative.

`
  const baseURL = isDev() ? apiRootT : apiRootPr;

  const options = {
    baseURL: baseURL,
    headers: {
      Authorization: `Bearer ${authToken}`,
      Pragma: "no-cache"
    },
    timeout: 20000
  };

  const client = axios.create(options);

export def

[2019-03-05 07:02] chatoo2412 commented on #67
In my case, it happens when `baseURL` is set to path.

[code]

[2019-03-18 16:20] davidkjackson54 opened #69 "exponentialDelay not found"
Just installed axios-retry and getting this in Typescript.
axiosRetry.exponentialDelay   does not exist
I have tried:
npm install @type/axios-retry
but it doesn't exist.

Is there a solution or is this not supported under typecsript?

[2019-03-19 08:18] richdouglasevans commented on #69
We're using this:

[code]

[code]

[2019-03-19 23:10] davidkjackson54 commented on #69
Thanks that helps. Are there plans to put these into @type/axios-retry . That would make the most sense.

[2019-03-21 19:25] bbugh commented on #25
If anyone else ends up here trying to answer this question, here's an implementation based on the suggestion to use interceptors. The example is in TypeScript but it will be the same in JS, just remove the types.

This gets the count of the tries and logs a warning:

[code]

My logger output:

[code]

[2019-04-05 08:54] rosdi opened #71 "Can we have a UMD version of this on CDN somewhere please?"
I tried to create my own using rollup but the build fails... perhaps an 'official' umd version would be nice?

[2019-04-09 04:39] dtheodor opened #72 "Support 429 properly with Retry-After"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429

429 (and 503) may carry the `Retry-After` header, which determines the retry delay. I think handling this should be built in this library, i.e. retry on 429 together with the 5xx family of errors, and check for `Retry-After` and use its value to override the timeout setting

[2019-04-11 13:27] juriwiens commented on #69
The main axiosRetry function is exported as `default`. Try this in order to import the default export and another export (like exponentialDelay) in one import statement:

```import axiosRetry, {exponentialDelay} from "axios-retry";```

[2019-04-19 12:45] #56 closed

[2019-04-19 12:48] mawrkus commented on #59
If anyone figures out a solution and is willing to submit a PR to anticipate the 0.19.0 Axios release, it would be greatly appreciated!

[2019-04-19 12:56] mawrkus commented on #62
Because a function is a simple yet powerful abstraction ;)
It can help you scheduling the retries (e.g. exponential backoff, a standard error handling strategy for network applications), while still providing you a way to return a fixed number.
The best of both worlds.

[2019-04-26 10:19] KayHS opened #74 "Force retry on 200 and when condition is met"
I am short polling an endpoint until some data is ready i would like to retry the request up to 10 times.

I use the following libraries
https://github.com/axios/axios
https://github.com/softonic/axios-retry

     try {

       const axiosInstance = axios.create();

       axiosInstance.interceptors.response.use((response) => {

         if (response.data.metrics.length === 0) {
           const e

[2019-04-26 10:43] KayHS commented on #74
Even if i override the response status code to something axiosRetry should pick up. The request is not being retried.

[code]

[2019-05-02 08:19] rosdi commented on #71
I have successfully use rollup to build umd, cjs, and esm versions... will publish later once I figured out how to integrate this with the existing tests/build scripts.

[2019-05-02 09:06] rosdi commented on #71
The fork (with umd built) is here in case anyone is interested: https://github.com/rosdi/axios-retry

Haven't integrate with the tests yet though...

[2019-05-09 23:28] alexkrolick opened #75 "Add header to retried requests?"
Feature request: I'd like to add a header, for example `X-RETRY`, to requests that have been retried.

[2019-05-10 05:02] mishawakerman commented on #67
Our workaround until #73 is merged:

**Before**
[code]

**After**
[code]

[2019-05-13 11:12] stanvol opened #77 "axios response throw error retries-count times after all retries failed"
Hi, it seams this is issue:

`
const service = axios.create();

axiosRetry(service);

service.interceptors.response.use(
	response => response,
	(error: AxiosError) => {
		console.log('Error', error);
		// Some error handling staff.
		errorModal(); // Show modal for some errors.
	}
);
`

Response should throw only one error on failed all retries. But now error is thrown 3 (default number) times.

[2019-05-15 21:56] #62 closed

[2019-05-22 15:17] Joelkang commented on #59
@mawrkus I have a PR up for this: https://github.com/softonic/axios-retry/pull/76

Any thoughts about the implementation?

[2019-05-27 05:50] maximn commented on #67
Any ETA for when is it going to be merged?

[2019-06-03 11:35] nishimura-yuji commented on #41
Hi, I has similar error with TypeScript and axios-retry 3.1.2.

[code]

[2019-06-04 18:09] jmicco commented on #59
Hi all!  We stumbled across this when we updated axios to 0.19, it completely broke our retries.  Will a new version be produced?  the PR has been open for 25 days!

[2019-06-04 18:11] jmicco commented on #59
NOTE: 0.19 axios went public 5 days ago!

[2019-06-05 13:23] jkelin commented on #59
Despite bad manners, I would also like to weight in on this, as appears this to be the reason why axios-retry does not work for me with axios 0.19. Unfortunately axios-retry does not work for me with 0.18 either because axios config merge bug (which has been fixed in 0.19).

[2019-06-06 21:28] Tri-Vi opened #79 "How can we check if the axios-retry is retrying the axios call ?"
**Question:**

1. Is there anyway that we can check or get feedback when axios-retry is retrying the axios call ?

[2019-06-11 03:52] drwharris commented on #79
I do this:

[2019-06-11 12:02] Tri-Vi commented on #79
@drwharris : Thanks. I'll give it a try

[2019-06-11 22:14] drwharris opened #80 "retryCount not incremented when using custom retryCondition"
I am trying to get retry to work with a 429 error on a POST. By default a 429 is not a network error and POST is not an IDEMPOTENT method so its considered a "success" by "axios-retry".

I have therefore implemented the following:

[code]

This works fine in terms of retrying on a 429 error (or Network, etc) but when the retryDelay function is called, retryCount is always 1 so I get the message "L

[2019-06-11 22:29] drwharris commented on #74
Its not particularly well documented but the issue is that retryCondition needs to return true if you wish to retry or false if you dont. So in your instance, you would want to return true if the length of the body is 0.

[2019-06-12 19:41] jmicco commented on #59
Hi All!

If no one is going to push a PR to fix this library to work with Axios 0.19, then it is effectively dead and should be removed from NPM.

The maintainers should do something to make it compatible or I will advocate that it be deprecated on NPM.

Thanks!
John

[2019-06-12 20:16] herrherrmann commented on #59
Hi @jmicco,

with the risk of starting a very digressing debate: Your comment sounds very threatening and disrespectful. If you intended this interpretation, I believe you're ungrateful and don't understand how open source software development works. If you didn't intend this interpretation, please think about a more diplomatic way to "push" (rather: motivate) the release of this fix.

As you saw,

[2019-06-12 21:28] jmicco commented on #59
Sorry, I agree that my tone was not great.  and I really do want to keep the goodness of open source available for everyone and to be able to continue to leverage this package.

I do not know enough about the internals to either review the change or contribute a better fix, but this package has accepted any PR in about 5 months,  the PR with the fix has been open for more than 1 month and the bug

[2019-06-12 22:18] mawrkus commented on #59
Hello everyone,

First of all, apologies for the lack of feedback/support on this particular issue and, in general, on the whole project.

To give you a bit of context, we have been struggling these last months to do a proper job on our OSS projects. Defining ownership, organising the work to be done and finding the time to do it properly is not a trivial process... Indeed, we are no different tha

[2019-06-12 22:42] #79 closed

[2019-06-12 22:44] #74 closed

[2019-06-12 22:49] mawrkus commented on #80
My guess is that your `retryCondition` should check for a 429 status as a number:

`error.response.status === 429`

[2019-06-12 22:56] drwharris commented on #80
Ill give it a go but if retryCondition fails, it wont even get into retryDelay so not sure how that will help. To be clear, the issue is that when I am in the retryDelay callback, retryCount is never incremented.

To me the issue is that the logic to increment retryCount is caught up in the default retryCondition callback and is not called when a custom callback is used.

[2019-06-13 09:28] drwharris commented on #64
Yes you can. The main readme details this :

// Custom retry delay
axiosRetry(axios, { retryDelay: (retryCount) => {
  return retryCount * 1000;
}});

[2019-06-13 12:57] Joelkang commented on #59
@mawrkus and @jlopezxs I've updated the implementation which makes the test pass. My biggest concern right now is wrapping the adapter function so that different requests don't actually share the same state object: https://github.com/softonic/axios-retry/pull/76/files#r293362198

[2019-06-13 21:43] danielmcq commented on #80
I have been seeing issues where neither retry count or retry delay are respected. I had upgraded to axios 0.19.0 within the last week, so I suspected that. Sure enough, when I downgraded back to 0.18.0, the axios-retry went back to working as it should. I will try to file a bug report later for this incompatibility where I can properly display the evidence.

[2019-06-13 23:06] mawrkus commented on #80
Could what you describe be a duplicate of #59 ?

[2019-06-13 23:14] danielmcq commented on #80
@mawrkus Yep, I think you’re right. I didn’t realize the problem would have shown up that long ago in the beta of axios 0.19.0.

@drwharris, can you confirm which version of axios you are using?

[2019-06-14 06:30] drwharris commented on #80
@danielmcq @mawrkus
COnfirming I was on 0.19. Downgraded to 0.18.1 and its working. And yes, this is exactly the same as #59. Sorry, poor form on my behalf there. Ill close this as you're actively working on that issue.

[2019-06-14 06:30] #80 closed

[2019-06-14 14:59] mawrkus commented on #77
Currently, axios-retry does not support this behaviour and implementing it is not trivial.
Our only suggestion is that your app manages this case for now.
If you have any idea, please feel free to open a PR and we will consider it.

[2019-06-14 15:23] mawrkus commented on #75
Hi,

What's your use case? A straightforward solution would be to add your own request interceptor, something like:
[code]

[2019-06-14 15:25] mawrkus commented on #72
Good idea, would gladly accept a PR for this.

[2019-06-14 15:30] mawrkus commented on #71
Hi!
Sorry for the late reply. We are considering to use [microbundle](https://www.npmjs.com/package/microbundle) but unfortunately it's not our priority for now. If you're eager to move this, we would definitively consider a PR :)

[2019-06-14 15:49] mawrkus commented on #69
Fix suggested in this PR: #81

As I'm not a Typescript expert (yet), could you have a closer look at it? Thanks!

[2019-06-14 16:04] mawrkus commented on #64
Looks like this is going to be the default behaviour with Axios 0.19.x
We are currently working on supporting it.

[2019-06-14 16:07] mawrkus commented on #60
Could this behaviour be a duplicate of #77 ?
I'm asking because your code sandbox returns a 404.

[2019-06-14 16:11] mawrkus commented on #55
If I understand correctly your question, the answer is here https://github.com/axios/axios/blob/master/lib/core/Axios.js#L37

All the properties of config object are merged, not only predefined ones.
This allows axios-retry to add its own internal config here https://github.com/softonic/axios-retry/blob/master/es/index.js#L89

Hope this helps.

[2019-06-17 07:15] zgayjjf commented on #55
@mawrkus Thanks for the reply.

I figured it out.

Axios-retry never extends Axios's default config. It uses interceptors to add its config before every request is sent.

https://github.com/softonic/axios-retry/blob/master/es/index.js#L175

This explains everything.

[2019-06-17 07:15] #55 closed

[2019-06-17 17:09] jlopezxs commented on #59
To solve this issue prefer to add the configuration in the client itself, loosing the axios-retry config as a second parameter https://github.com/softonic/axios-retry/pull/76#discussion_r294393512.
#82

[2019-06-17 20:10] mawrkus commented on #67
IMHO the "workaround" is so simple that I wouldn't try to patch axios-retry for this particular use case.

[2019-06-21 23:33] usb248 commented on #59
Any fix for infinite loop axios retry ?

[2019-06-24 22:57] alexkrolick commented on #59
FYI Axios 0.19 got pushed to stable due to a security patch a few weeks ago, so a lot of clients are now upgraded and experiencing infinite loops

[2019-06-25 15:32] thatmarvin commented on #59
Fyi there's a PR on axios that relaxes `mergeConfig` to reenable custom config: https://github.com/axios/axios/pull/2207. Sounds like `axios-retry` doesn't need to do anything if that PR goes through.

[2019-06-27 02:51] alexkrolick commented on #59
Proposal: can the defaults be changed to "fail closed" (not retry at all or retry with a low maximum count) instead of infinitely retrying?

[2019-06-27 02:53] alexkrolick opened #83 "Feature request: default maxRetries to a small number instead of infinity"
Due to the issue with Axios 0.19, clients may have gotten hit with infinite retries unexpectedly. The default could be made safer so this doesn't happen.

[2019-07-09 13:50] Yar-R opened #84 "shouldResetTimeout not working"
`axiosRetry(httpClient, {
 retries: 10,
 retryCondition: isNetworkOrRequestError,
 shouldResetTimeout: true
})`

but timeout still decreases

[2019-07-09 14:46] #84 closed

[2019-07-11 13:22] dmitrirussu opened #85 "Does not work with axios version 0.19.0"
Hi axios retry does not work with version of axios 0.19.0

[2019-07-11 19:45] mawrkus commented on #85
https://github.com/softonic/axios-retry/issues/59

[2019-07-11 19:45] #85 closed

[2019-07-16 14:01] konstantinblaesi opened #86 "Retries option is the number of total tries"
The naming suggests that we'd end up with a `total tries = 1 + retries`, but the reality is that retries is the total number of attempts the failing API is made right? Should it be renamed to attempts or maxAttempts ?

[2019-07-16 15:35] #86 closed

[2019-07-17 10:26] oferRounds commented on #56
@mawrkus following this question, one possible solution would be hold all retries until we manually say it’s ok now  (i.e., the token was refreshed) (by invoking a method). Is there some way to do this?

[2019-07-17 14:11] akirilyuk commented on #59
Are there any updates on this? Will the lib be updated to support axios 19.0 or will you wait for axios to fix this on their side?

[2019-07-25 12:47] stanvol commented on #77
Hi,

I have just looked at the issue and found simple fix (add catch() to retry promises):

`
return new Promise(resolve => setTimeout(() => resolve(axios(config).catch(() => null)), delay));
`

With this fix everything works fine.

[2019-08-01 01:49] redredredredredred commented on #77
I made a hook that worked for me. This fixes the problem
[code]

[2019-08-01 01:54] redredredredredred commented on #59
I simply skipped over the problem, hoping it would be helpful
[code]

[2019-08-01 02:01] redredredredredred commented on #64
I simply skipped over the problem, hoping it would be helpful
[code]

[2019-08-01 12:23] akirilyuk commented on #59
@redredredredredred What will happen if you have 2 simultaneous requests failing? They share the same retries number so they will fail after 1 and 2 retries?

[2019-08-06 02:21] dreamski21 opened #87 "Increasing exponentialDelay's interval constant"
Currently the exponentialDelay function is implemented like this:
[code]

Is there a specific reason why it's implemented like this and not like bellow? Why use 100ms?

I think it's important to make the "interval constant" larger to handle network errors like Error 508 (Resource Limit Is Reached) or Error 509 (Bandwidth Limit Exceeded), which I had to solve using my implementation.
(PS: This is b

[2019-08-10 03:16] broom9 opened #89 "Hang on network error"
With the following codes, if the network address is unreachable (e.g. when accidentally set as undefined or some other network issues), the script hangs without throwing errors.

[code]

axios-retry: 3.1.2
axios: 0.19.0

[2019-08-13 07:17] jakubgawlikowski opened #90 "Backup URL?"
Is it possible to configure a backup URL for retry attempts?

[2019-08-14 14:37] hpurmann commented on #89
We're facing the same problem. It never throws an error, just hangs

[2019-08-17 15:07] marcospgp opened #91 "How to know whether retry is getting triggered?"
Is there a way to know when a request is being retried?

[2019-08-17 19:18] jlopezxs commented on #91
You can know that creating a interceptor like https://github.com/softonic/axios-retry/issues/75#issuecomment-502151719

[2019-08-19 19:19] cjancsar commented on #89
With the feedback logic from https://github.com/softonic/axios-retry/issues/35 you can see that the `retries` variable seems to be ignored, and it will just perpetually retry!

[2019-08-19 20:44] TheSharpieOne commented on #85
It would be nice to put a note in the readme to save some time tracking down issues.

[2019-08-21 15:49] c1moore commented on #41
The issue is here
[code]

Instead of exporting the default export, you should just export the index file:

[2019-08-28 11:18] ToeFungi commented on #83
@alexkrolick yea it would appear that default retry limit is not being set to 3 correctly for Axios 0.19

I had to downgrade Axios to 0.18.0 and used axios-retry 3.1.1 and the retry limit appears to be working correctly again. Not sure if it's an issue between the monitor and the chair on my side or not.

[2019-08-29 13:51] MaksimKiselev commented on #89
Since version 0.19.0 axios filter out custom properties in config , see https://github.com/axios/axios/issues/164#issuecomment-524756674

Workaround for this issue - downgrade to axios `^0.18.0`

[2019-09-13 10:28] victordidenko commented on #59
I'm implementing my own mechanism to retry requests, and stumbled upon this issue (Axios ignores non-standard keys in config).
I chose dead-simple way and decided to store tries in request header `Tries`. This is non-standard header, so it shouldn't break anything, and Axios doesn't (and will never) remove headers from config :)

[2019-09-18 12:44] asos-tomp opened #93 "isNetworkOrIdempotentRequestError considers 404 retryable?"
Whilst testing retry logic using the default retryCondition, 404 responses are retried.

This was unexpected.  https://www.npmjs.com/package/is-retry-allowed suggests not found errors shouldn't be retried:

[code]

The code in `axios-retry` suggests:
https://github.com/softonic/axios-retry/blob/master/es/index.js#L63
[code]
..with a network error being one without a response:
https://github.com/so

[2019-09-22 07:06] majidln opened #94 "It does not work with Axios 0.19.0"
It does not work with Axios 0.19.0. I downgrade Axios to version 0.15.0 and it becomes okay.

what is the problem in Axios 0.19.0 ???
How I can use Axios 0.19.0 and Axios-retry with together ???

[2019-09-24 03:35] hsxfjames commented on #94
See #59

[2019-10-07 22:22] stevebering commented on #75
Doesn't this just tell you how many retries that axios-retry is configured for, rather than the number of retries that have been completed in fulfilling the configuration?

[2019-10-10 05:53] #94 closed

[2019-10-10 05:56] mawrkus commented on #75
https://github.com/softonic/axios-retry/blob/master/es/index.js#L200 ?

[2019-10-10 06:05] mawrkus commented on #93
It might come from https://github.com/sindresorhus/is-retry-allowed/issues/2

[2019-10-10 06:10] mawrkus commented on #89
https://github.com/softonic/axios-retry/issues/59

[2019-10-10 06:11] mawrkus commented on #90
Can you elaborate? What's your use case?

[2019-10-10 06:18] mawrkus commented on #64
All good if it works for your use case!

[2019-10-10 06:18] #64 closed

[2019-10-25 23:02] Zyles opened #96 "Retry on CORS error"
When I get a CORS or network error it does not seem to retry properly for me.

[2019-10-29 01:54] elowes opened #97 "When first request is timeout, the next retry request will be cancel immediately."
axios version: `0.18.1`

[code]
![image](https://user-images.githubusercontent.com/8766034/67731027-c65f8100-fa31-11e9-9855-60f43f93f890.png)

I use the `Network Link Conditioner` to mock a bad network. When first request is timeout, I turned off network restrictions. But the next retry request also cancel immediately.

I think the retry request also has 10s time to get response.

[2019-10-29 02:24] #97 closed

[2019-10-29 02:32] elowes commented on #97
`shouldResetTimeout`

[2019-11-01 14:42] pixagraphic commented on #96
Same for me. Altought I noticed that a GET Request will be retried, however POST requests that result in CORS errors will not be retried.

[2019-11-06 08:51] chase-si commented on #59
I have to set axios back to 0.18.
It works

[2019-11-06 09:19] usb248 commented on #59
@chase-si the same... I can't update axios owing to this bug

[2019-12-17 19:05] matushorvath commented on #59
It seems this will be fixed in axios 19.1 once it is released, see:
https://github.com/axios/axios/issues/2438
https://github.com/axios/axios/pull/2502

[2019-12-28 04:53] jrichardsz opened #100 "Feature Request: Add retry for a 2xx response"
In case of  non-RESTful API that can return 200 a json body says otherwise, it would be grateful add a custom function like:

    function retryConditionOnSuccess(successObject) {

**original question**
https://stackoverflow.com/a/59508176/3957754

**my current fix**
https://gist.github.com/jrichardsz/03682d84ad5252d46e209652edd7f401

[2019-12-28 10:37] mawrkus commented on #100
Hi!
Please have a look at https://github.com/softonic/axios-retry/pull/88

[2020-01-07 04:43] majames commented on #77
Hi all! Just wanted to add my two-cents and say that this tripped me up recently too as I find it quite unintuitive that the error interceptor will be called for each re-try that is performed.

It would be great if `axios-retry` handled this!

[2020-01-09 03:00] hsxfjames commented on #59
0.19.1 has been released https://github.com/axios/axios/pull/2502#issuecomment-571687514

[2020-01-12 12:12] StarpTech commented on #77
The issue is fixed with https://github.com/axios/axios/releases/tag/0.19.1

[2020-01-31 09:06] ssuess opened #103 "Possible to pass an extra param on retries?"
To allow for some logging/troubleshooting, I would like to pass a second parameter to my axios call on all retries (something like `&retry=2` for example). Is there any easy way to do this?

[2020-01-31 10:09] ssuess commented on #103
Figured it out using an interceptor:
[code]

[2020-01-31 10:30] #103 closed

[2020-01-31 18:23] xyclos commented on #100
it is not always the case that a "a poorly-written API" would cause this situation. For example a graphql endpoint could respond with a 200 with an error object in the response body. I too think this would be a nice feature to have.

[2020-02-04 13:32] shaharsol opened #104 "Doesn't timeout respects elapsed time due to exponentialDelay?"
The following test doesn't pass.
I'd expect the request to be aborted after 1000ms while `axios-retry` exponentially backs off, but it doesn't.

[code]

[2020-02-05 15:26] iDVB commented on #72
Is there a way to use `retryCondition` to support 429 as a manual change for now?

[2020-02-05 15:50] iDVB opened #105 "Retry for 429 only"
Is there a way to retry with backoff for 429 only?

[2020-02-05 16:39] dinvlad commented on #69
Could someone take a look at the PR please?

[2020-02-05 16:41] dinvlad commented on #53
Would it be possible to take another look at this? We still get the error `axios_retry_1.default is not a function`. Thanks!

[2020-02-06 11:01] shaharsol commented on #105
[code]

[2020-02-10 21:31] dinvlad opened #106 "exponentialDelay seems to use a constant interval"
Hi all,

It seems that `exponentialDelay` retries after the same amount of delay every time. E.g. my retry logs show that the requests are retried each ~20+/-1 sec, starting with `retryCount: 0` all the way to `retryCount: 4`. I have set
[code]
I'm using `axios 0.19.2` and `axios-retry 3.1.2`.

Thanks!

[2020-02-10 21:38] dinvlad commented on #106
Seems that this is caused by https://github.com/softonic/axios-retry/issues/87, since even for `retryCount: 4` is on the order of a few 100 ms..

[2020-02-10 21:38] #106 closed

[2020-02-10 21:39] dinvlad commented on #87
Is there any update for this issue? Should we create a PR?

[2020-02-12 20:02] mawrkus commented on #96
Why would you retry on CORS error? The server should be configured adequately to allow your requests or you should use JSONP, if possible.

[2020-02-12 22:07] mawrkus commented on #53
Hi guys, my TS knowledge is limited... Does one of these PRs fix the issue:

- https://github.com/softonic/axios-retry/pull/81
- https://github.com/softonic/axios-retry/pull/92

?

If not, any PR is welcome!

[2020-02-12 22:16] #71 closed

[2020-02-12 22:18] #105 closed

[2020-02-12 22:18] mawrkus commented on #72
@iDVB I Think you found the answer in https://github.com/softonic/axios-retry/issues/105

[2020-02-12 22:22] mawrkus commented on #91
Feel free to re-open this if you need more info/support.

[2020-02-12 22:22] #91 closed

[2020-02-12 22:22] mawrkus commented on #90
Closed for inactivity, feel free to re-open it if needed.

[2020-02-12 22:22] #90 closed

[2020-02-13 07:23] Zyles commented on #96
I don't own the server.

- Server failures
- Cache hit failures
- Network failures

[2020-02-14 07:07] mawrkus commented on #96
Ok, feel free to open a proper issue with more details (Axios version, use case, response from the server and any relevant info).

[2020-02-14 07:07] #96 closed

[2020-02-14 14:18] julurivinay opened #110 "Failed request going to continuous loop Instead of specified retry count in my reactjs project"
I have installed axios-retry in my reactjs project.
When api got failed it is looping continuously instead of specified count.

Code is below:

import axios from 'axios';
import axiosRetry from 'axios-retry';

axiosRetry(axios, { retries: 3 });
const httpService = <T>(request: { url: string, method?: Method, config?: {} }, payload: any):
    Promise<{ data?: T, error?: any }> => {
    return new P

[2020-02-17 15:48] julurivinay opened #112 "How to catch/ handle after max reties"
I want to write a logic after the retry count completed.
In axios interceptor i need to write logic for it or do we have any other option for it.

My axios interceptor code looks below
const axiosGlobalConfig = function () {

  axios.interceptors.request.use(function (config) {
    console.log('23232', config);

    // let configUrl: any = config.url;
    // let myRegExp = new RegExp(Config.webSer

[2020-02-26 07:05] mawrkus commented on #110
Can you provide more info about the error?

[2020-03-04 09:31] martell2010 commented on #110
Hi, I haved this problem too, update to "axios-retry": "^3.1.2" fixed for me.

[2020-03-05 02:35] blbradley commented on #100
@mawrkus Please reconsider allowing this; we can't control every API we interact with.

[2020-03-05 06:51] devopg opened #114 "problem with RetryCount then use axios validateStatus"
[code]
in this situation i have unlimited retryCount

![image](https://user-images.githubusercontent.com/61819835/75955316-aa2f8d00-5ec6-11ea-90cb-2935a201fa44.png)

[2020-03-06 11:27] bennyn opened #115 "Does not work with HTTP 429 Too Many Requests"
Hello, I tried using your library to retry with timeout after HTTP 429 (Too Many Requests) responses. Unfortunately it did not work. Are you handling HTTP 429 errors?

[2020-03-10 14:58] Floriferous commented on #110
This is still happening for us with axios 0.19.2 and axios-retry 3.1.2. Will try to revert to axios 0.18.x

[2020-03-31 15:58] thomas-beznik opened #116 "Custom retry condition not working"
Hello everyone,

I am quite new to axios, so this might be a stupid mistake.

I am trying to make my front-end retry a certain request if the error message is 501. For this I have implemented the following retryCondition:

[code]

But when looking at what is printed in the console (by the first line of the previous code), I see that I get:

``
{"message":"Request failed with status code 501","name

[2020-04-03 16:31] GsHeri opened #117 "Custom retry Condition with status 200?"
so i thought i could override the retry condition, but seems i was wrong.
it works fine when i request a source that is not reachable.
but if i poll a media service and wait for a file to be processed (which returns 200 with "state: 'processing'" or "state: 'processed'"
this library seems to not react at all on a 200...?

[code]
i've tried many different ways of writing that function, but it's jus

[2020-04-18 18:27] mawrkus commented on #117
Hi, seems your question is a duplicate of https://github.com/softonic/axios-retry/issues/100

[2020-04-18 18:27] #117 closed

[2020-04-18 18:29] mawrkus commented on #53
https://github.com/softonic/axios-retry/pull/92 has been merged.

[2020-04-18 18:35] mawrkus commented on #116
Hi! Have a look at https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/501, hope this helps.

[2020-04-18 18:37] mawrkus commented on #115
Hi!
Yes, have a look at https://github.com/softonic/axios-retry/issues/105

[2020-04-18 18:37] #115 closed

[2020-04-20 05:45] afenrir opened #121 "Upgrade to 3.1.4 broke TS compilation: Cannot find name 'IAxiosRetryConfig'"
Upgrading from 3.1.2 to 3.1.4 broke Typescript compilation:

[code]

[2020-04-20 10:00] #121 closed

[2020-04-20 11:38] mawrkus commented on #121
Just merged #122

[2020-04-20 12:01] bennyn commented on #105
I recommend the following (in order to keep the default behaviour):

[code]

[2020-04-21 07:20] strdr4605 opened #123 "No exported member 'IAxiosRetryConfig'"
After installing `axios-retry@3.1.5` I have the following error

[code]

![image](https://user-images.githubusercontent.com/16056918/79836792-4d762c00-83b9-11ea-95a5-5270c36b374a.png)

## Possible solution

[code]

[2020-04-21 15:11] #123 closed

[2020-04-22 00:33] Matiyeu opened #125 "Changelog file"
Can you keep the change log file up to date please, that would be really cool ! :smiley:

[2020-04-22 13:05] razorness opened #126 "TS definitions error TS2309"
I get this error:
`TS2309: An export assignment cannot be used in a module with other exported elements.`

This line get's reported:
https://github.com/softonic/axios-retry/blob/master/index.d.ts#L53

[2020-04-22 21:05] #126 closed

[2020-04-23 06:38] mawrkus commented on #125
Here you have: https://github.com/softonic/axios-retry/blob/master/CHANGELOG.md ;)

[2020-04-23 06:38] #125 closed

[2020-04-23 06:43] jugglingthebits commented on #53
I still get the error `axios_retry_1.default is not a function` at runtime.

[2020-04-23 11:00] Primajin opened #132 "BUG 3.1.7 is giving me a TS error on exported members"
before v. 3.1.7 I had my import working like this without a problem:

[code]

Now I get the error:

[code]

[2020-04-23 19:44] mawrkus commented on #132
@balassit @strdr4605 @EdenGottlieb any idea why would this be happening?

[2020-04-23 19:47] Primajin commented on #132
So it still works in 3.1.6 - so the bug must be in the diff :wink:

[2020-04-23 19:57] strdr4605 commented on #132
The idea is that in `v3.1.6`
https://github.com/softonic/axios-retry/blob/v3.1.6/index.d.ts#L53
[code]
means that all props from `axiosRetry` are exported. See [export = and import = require()](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require).

In `v3.1.7` only 2 things are exported
https://github.com/softonic/axios-retry/blob/v3.1.7/index.d.ts#L51

[code]
So

[2020-04-23 20:36] balassit commented on #132
Yeah @strdr4605 is correct. My mistake when testing as I only used the functions by referencing `axiosRetry`. IAxiosRetry is not exported or its inner functions. I opened a #133 to export the functions but was not sure if IAxiosRetry should be.

[2020-04-24 06:31] mawrkus commented on #132
#133 has been merged and v3.1.8 published. @Primajin can you confirm the error is fixed?

[2020-04-24 11:35] Primajin commented on #132
Yes perfect folks! 3.1.8 passes without any warning for me - thank you very much!

[2020-04-24 11:35] #132 closed

[2020-04-24 12:34] mawrkus commented on #132
Thank you guys, really appreciated your help on this because my knowledge of TS is really really limited. Have a nice week-end!

[2020-05-03 13:07] fmaiabatista opened #134 "Feature Request: Ability to add message/handler when retry is triggered."
Hi, I took a look at the API but it doesn't seem to include any way for us to configure a message when the retry happens.

I was wondering if it'd be possible to add a way that we can set a message/handler whenever the retry is triggered.

Something like:

[code]

[2020-05-03 17:36] mawrkus commented on #134
HI!
If it's only for logging a message; I guess you can use a customised `retryDelay` (as a function) or `retryCondition`.

[2020-05-06 23:47] fmaiabatista commented on #134
Alright! I'll try that! Thanks!

[2020-05-12 22:11] dlholt commented on #100
@blbradley @jrichardsz I am consuming an API from Salesforce Marketing Cloud that returns HTTP-200 even if there is an error. I started using **axios** and **axios-retry** today and found this solution:

In the **axios** options, set `validateStatus(status)` ([reference](https://github.com/axios/axios/blob/fd57956a7eadf13fd8006bd53e5065590e9812c4/lib/defaults.js#L79)) to a function that will eithe

[2020-05-26 10:32] #59 closed

[2020-05-30 15:40] d1820 commented on #60
should update
[code]
to return the interceptorId for the attached request and response interceptors, so it would be possible to eject those if needed

[2020-06-04 15:47] ndberg commented on #116
@thomas-beznik, having the same problem, did you find out why you don't have any "code" key?

[2020-06-05 05:42] mawrkus commented on #116
Hi,
Sorry I closed this issue a bit fast without really answering I'm afraid...
Have you tried to do the same request without axios-retry to see if the code was returned or not?

[2020-06-05 07:50] ndberg commented on #116
Thanks a @mawrkus for coming back to it.
I digged a bit deeper and found out: I don't have an error.code, but if I have a response from the  I have a error.response.status.

I got mine working like this:
`axiosRetry(axiosInstance, { retries: 5, retryCondition: e => { return isNetworkOrIdempotentRequestError(e) || e.response.status === 429 }, retryDelay: axiosRetry.exponentialDelay });`

[2020-06-05 07:51] ndberg commented on #105
I don't have an error.code, but if I have a response from the  I have a error.response.status.

I got mine working like this:
`axiosRetry(axiosInstance, { retries: 5, retryCondition: e => { return isNetworkOrIdempotentRequestError(e) || e.response.status === 429 }, retryDelay: axiosRetry.exponentialDelay });`

[2020-06-05 18:45] mawrkus commented on #116
@thomas-beznik let me know when you have checked it and if a similar solution like the one @ndberg has mentioned can work for you as well..

[2020-06-06 23:57] rgalanakis commented on #100
There are totally valid reasons a well-written API would return a success code and you'd want to retry, like polling for a finished job. Success responses (like 202) are much nicer than an ambiguous error response.

Thanks for the workaround @dlholt!

[2020-06-08 12:35] thomas-beznik commented on #116
Sorry, in the end, I went a different direction, so can't confirm this :)

[2020-06-14 17:49] zd987 opened #135 "axios-retry 3.1.8 is using the old version code base in npmjs"
If you download axios-retry 3.1.8 from npmjs, you will notice incorrect definition is still there in index.d.ts

`retryDelay?: (retryCount: number, error: axios.AxiosError) => number`

Please help to double check the version you uploaded to npmjs there.

[2020-06-16 14:00] karlismelderis opened #136 "Incomplete type for retryCondition"
I think we're missing bit in retryCondition type

error argument is not pure `axios.AxiosError` axios-retry actually is adding one more property to it:
[code]

can you please extend the type?

I tried to add this bit to your index.d.ts and it solved the case for me:
[code]

[2020-06-18 01:24] kceb opened #137 "Retry on 429"
It seems like this pkg only retries on 5xx errors and connection refused errors.

Is there a reason 429 errors were ignored? I feel like those are an essential use case for retry-logic (to get past API rate limiting)

[2020-06-18 01:29] #137 closed

[2020-06-24 11:11] dagi3d opened #138 "is Axios Network Error properly detected?"
Hi,
I was trying this library to be more resilient against possible failed requests because of network errors, and the thing is I am not sure that the default function to detect the network error will work with the current Axios implementation:

when Axios wants to raise the Network Error it sends a null status code:
[code]

but in the axios-retry, it will check that there is actually an error cod

[2020-06-26 08:31] mesterjagels opened #139 "Testing axios-retry implementation with Jest?"
I'm having issues with testing our implementation of axios-retry with jest.
We've had to implement our own RetryConfig to cover post calls to our graphql instance with this config:
[code]

I've tried the following, however it does not retry the call:
[code]
with the following outcome
[code]

If i change the `returnValue ` to `returnValue(Promise.reject(errorObject));` i get the follow result:
[cod

[2020-06-28 21:09] samuk190 opened #140 "making axios retry runs in background (IOS/Android)?"
What libs I need to use to implement with it sucessfully?

[2020-06-28 22:17] #140 closed

[2020-06-28 22:21] samuk190 opened #141 "Axios not retrying properly!"
When axios fail request it automatically goes to the catch "NetWork Error" and keep retrying every 1sec instead of 10 secs, and it does infinitely and does not trigger my  RNToasty.Warn({
              title: ' Ultima tentativa falhou, cancelando... ',
            });
when retry count === 5,

Strange behaviour because before it was working until I updated some dependencies.

[code]

[2020-07-01 05:08] samuk190 opened #142 "Axios 0.19.2 retry 3.1.7 react native post not working"
axios.get
is working

axios.post() not retrying.

[2020-07-01 06:29] samuk190 commented on #142
Only now I saw that all axios only receive on put

[2020-07-01 06:29] #142 closed

[2020-07-04 05:36] samuk190 commented on #141
BackgroundTimer does not work with async functions! Closed!

[2020-07-04 05:36] #141 closed

[2020-07-16 14:16] JCass45 opened #143 "axiosRetry causes TypeScript error TS2349 when using ES6 import statement"
Importing axiosRetry using an ES6-style import statement and calling the default import causes a `TS2349` error to occur.

This is occurring using axios-retry v3.1.8 and TypeScript v3.9.6

Example code snippet for reproducing error:
[code]

TypeScript Config:
[code]

[2020-07-18 12:26] ruscon commented on #87
Your changes will break the settings that we have in the project. For example, by default, we have 6 retries, because we know how often they are being launched now.

[2020-07-19 08:43] samuk190 opened #145 "React native 0.63.1 incompatibility?"
Retry does not work in RN 0.63.1 for me. It was working previously before update and eject.
It don't retry.
axios version 18.

[2020-07-19 09:18] samuk190 commented on #145
nevermind! Did yarn install again and it worked.

[2020-07-19 09:44] samuk190 commented on #145
same error again, hmm someone have a idea?

[2020-07-19 12:59] #143 closed

[2020-07-19 12:59] JCass45 commented on #143
Closing in favour of [143](https://github.com/softonic/axios-retry/issues/143)

[2020-07-19 13:00] JCass45 commented on #53
I am also getting this error when `esModuleInterop: true` is not used. Closing my initial issue #143 in favour of this one.

[2020-07-20 12:58] dinvlad commented on #87
Which project is that?

I would say that relying on such implicit timing assumptions in business logic is usually a code smell..

[2020-07-21 11:21] samuk190 commented on #145
after upgrading axios some changes I didnt see happened.
After fixing, it worked!

[2020-07-21 11:21] #145 closed

[2020-07-24 17:43] iamjinme opened #146 "Why the library doesn't work with POST method?"
I'm trying use retry with POST method, but it's fail.

I was look into the souce code and the line 19 doesn't include that, something reason?

`const IDEMPOTENT_HTTP_METHODS = SAFE_HTTP_METHODS.concat(['put', 'delete']);`

[2020-07-27 23:52] rahpuser commented on #146
well, I think it is because POST is not idempotent. So this is the list by default. But you can override that.

[2020-07-30 17:29] Jokero opened #147 "Missing typings for "axios-retry" property for request-specific configuration"
There is the following example in the documentation that demonstrates the usage of request-specific retry options:
[code]
However currently it's not possible to use that code in Typescript as `AxiosRequestConfig` does not know anything about `axios-retry` property:
[code]
To fix that this should be added to typings:
[code]

[2020-07-31 10:28] Jokero commented on #146
Sounds strange, I agree. If POST request returns 500, why it shouldn't be retried?

[2020-08-02 05:19] rahpuser commented on #146
I think the author opt for the safer approach, following rest patterns and practices, idempotent methods should not change server state or have side effects, so usually idempotent methods are safe and are intended to be safe and called several times having the same result if it is the same request. In the other side POST is not idempotent and usually calling post would have different results even

[2020-08-03 15:36] Jokero commented on #146
@rahpuser Yeah, I generally agree with you

[2020-08-05 16:18] FlyRocketDrones opened #148 "Retry Count Not Working"
I have
[code]
so I want 2 tries in total and 2 second delays between them. But I get 4 total tries. I changed retry count to 1 no help, made it higher like 3 or 5, I always get total 4 tries.

[2020-08-07 02:17] darrylmabini commented on #74
@mawrkus did you solve the issue? I'm having the same problem. And looking at the axios-retry code this is not possible becaiuse it will only execute if the status codes falls outside the range of 2xx.

https://github.com/softonic/axios-retry/blob/9dd59fb628164bf757144db66487dd5496eb32db/es/index.js#L180

[2020-08-19 13:08] #146 closed

[2020-08-19 13:09] mawrkus commented on #147
Looks like a duplicate of #136 would you be willing to open a PR for this? Would be highly appreciated!

[2020-08-31 02:33] parsley72 commented on #72
I looked at #105 but it doesn't seem to use the actual value returned for Retry-After. I wrote a simple test case around https://httpstat.us/429 which does set Retry-After:

    $ curl -v https://httpstat.us/429
    *   Trying 2606:4700:3035::681c:8d9:443...
    * TCP_NODELAY set
    * Connected to httpstat.us (2606:4700:3035::681c:8d9) port 443 (#0)
    * ALPN, offering h2
    * ALPN, offering ht

[2020-08-31 17:49] donovanhiland commented on #77
@StarpTech What in 0.19.1 fixes this? Nothing stands out after scanning through the release notes.

[2020-09-04 06:10] parsley72 commented on #72
This is a CORS bug in httpstatus:
https://github.com/Readify/httpstatus/issues/83

[2020-09-04 19:40] davidmcooper commented on #148
Seeing the same thing.  Seeing the issue with axios v0.20.0 and axios-retry v3.1.8.

[2020-09-04 21:51] nelsonprsousa commented on #87
Looks like this PR is the correct version. Why isn't merged?

[2020-09-11 07:10] LJJCherry commented on #41
I met the same problem, how to fix

[2020-09-12 00:04] c1moore commented on #41
The type fix was released in version 3.1.3.  Try upgrading.

[2020-09-16 06:45] nwaughachukwuma commented on #56
@yns01 it doesn't appear `retryCondition` can handle an async request. Any idea how to go about this?

[2020-09-16 11:35] Jokero commented on #147
@mawrkus Yeah, I will prepare PR

[2020-09-16 19:16] lucasnishimura commented on #53
I still get the error "axios_retry_1.default is not a function" too

[2020-09-17 10:49] Jokero commented on #136
@karlismelderis Why do you need `retryCount` and `lastRequestTime` fields there? I guess this should be enough:
[code]
Where `IAxiosRetryConfig` is this https://github.com/softonic/axios-retry/blob/v3.1.8/index.d.ts#L25-L53

[2020-09-17 11:51] Jokero commented on #148
Checked with axios v0.20.0 and axios-retry v3.1.8, works as expected (only 2 retries).
[code]
Output:
[code]

[2020-09-17 12:21] Jokero opened #150 "shouldResetTimeout=false causes unexpected behaviour"
Documentation says:

My expectation: if request has timeout=7000, the whole request lifecycle should be ended after this time. If delay + passed time is greater than original timeout, we should not do a new retry.

Actual result with exponential delay:
<details>
<summary>Code</summary>
<p>

[code]

</p>
</details>

[code]
The library calculated the latest `timeout=1ms` and `delay=6536ms`. It's obv

[2020-09-18 05:36] #147 closed

[2020-09-18 05:36] mawrkus commented on #147
Nice, thanks!

[2020-09-18 05:37] #136 closed

[2020-09-18 05:37] #148 closed

[2020-09-23 21:17] subvertallchris commented on #138
I think we're seeing the same thing. The `error` object that gets into `isNetworkError` looks like this when we log it out:

[code]

This object is of type `AxiosError`. I can call `error.message` and it returns `Network Error`. A simple workaround for us is to provide a custom check and fall back to the default:

[code]

I'm unsure of whether all browsers and platforms will give us that generic "

[2020-09-28 05:48] parsley72 commented on #72
Now I've got something consistent to test against this works:
`
  axiosRetry(axios, {
    retryCondition: (e) => {
      return (
        axiosRetry.isNetworkOrIdempotentRequestError(e) ||
        e.response.status === 429
      );
    },
    retryDelay: (retryCount, error) => {
      if (error.response) {
        const retry_after = error.response.headers["retry-after"];
        if (retry_after)

[2020-09-30 09:22] Jokero commented on #150
@mawrkus What do you think?

[2020-10-01 22:06] parsley72 commented on #72
Demo of PR here: https://codesandbox.io/s/add-retry-after-support-to-axios-retry-with-cancel-7pgy0

[2020-10-06 01:10] MaksimKiselev commented on #53
**TL;DR**

Solutions for TypeScript users:
- Set `"esModuleInterop": true` in `tsconfig.json` and use the ES6-style import `import axiosRetry from 'axios-retry';` (refactoring required for all imports)
- Use `require` `const axiosRetry = require('axios-retry');` (no need refactoring)

[2020-10-09 12:28] mawrkus commented on #135
Is it still the case in v3.1.9?

[2020-10-09 12:32] mawrkus commented on #110
Two suggestions:

- providing more information about the error
- upgrading to the latest versions of both libs

I'll close this issue. But please, feel free to open a new one once you've had the chance to try the suggestions above.

[2020-10-09 12:32] #110 closed

[2020-10-12 03:43] liuestc opened #153 "511 error dont't neet retry"
about 511， wiki description:

[5xxerror](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_server_errors)

The client needs to authenticate to gain network access. Intended for use by intercepting proxies used to control access to the network (e.g., "captive portals" used to require agreement to Terms of Service before granting full Internet access via a Wi-Fi hotspot).[59]

so i think i

[2020-10-13 08:58] coolboy0961 commented on #139
same question.

[2020-10-19 14:31] fabiofdsantos commented on #153
You have the HTTP 521 of Cloudflare which is a service widely used

[2020-10-21 06:24] mawrkus commented on #139
Hi,
Have you seen https://github.com/softonic/axios-retry/blob/master/spec/index.spec.js ?

[2020-10-21 10:42] IlyaSemenov commented on #90
I will second this request. As I see it, I want to provide the list of URLs, and axios-retry will iterate over it when making retries.

My specific use case would be:
* I provide `https://api.myproject.com` as the base URL
* I also provide `https://api-myproject.mycompany.com` as the backup base URL

It's been not once that the owners of `myproject.com` messed with DNS or forgot to renew the domai

[2020-10-22 23:36] gigiskarlett opened #154 "axiosRetry not working with axios "axios": "^0.19.2""

[2020-10-23 17:17] #154 closed

[2020-10-30 16:57] Uzlopak commented on #138
I think this is because of isRetryAllowed, where ENETUNREACH is in the denylist

https://github.com/sindresorhus/is-retry-allowed/blob/master/index.js

[2020-10-30 21:27] Uzlopak commented on #87
Why is your PR not according to the google tech page?

[2020-11-02 01:06] downace commented on #67
Looks like it was fixed in [axios@0.19.1](https://github.com/axios/axios/releases/tag/0.19.1) (PR [#2391](https://github.com/axios/axios/pull/2391)). I've encountered the same issue, solved after updating axios.

[2020-11-03 21:11] cdjobe opened #156 "No retry attempts following a 406"
I have my express server to respond with a 406 in the case of a mismatched checksum. Right now, I have that part hard-coded so I'm automatically getting the 406. In my retryDelay, I have a console.log showing the retryCount. Also I have an  interceptor just showing the req.method and req.url. So I can see "retry attempt 1"  and then it basically stops.

`        axiosRetry(axios, {
          retri

[2020-11-04 09:57] cbrevik commented on #138
Seems related to https://github.com/axios/axios/issues/2351

I did something similar as above here, but instead check for:

[code]

And then my `retryCondition` is:

[code]

It's not a perfect network error check, but I'd prefer that to checking for a string message. Ideally this lib should handle it better?

[2020-11-05 11:11] frosas commented on #53
Another ugly hack in case you don't want to lose the type checking:

[code]

[2020-11-05 23:17] slinkardbrandon commented on #53
My team ran into this error today as well when trying to use the library. Our "solution" is below:

[code]

I poked around the *axios-retry* source a little bit today too. I ran the `build` command in the `package.json` file, it generates a `lib` directory with an `index.js` file, that `lib/index.js` file then gets required by the project root `index.js`.

The post-babel output `lib/index.js` file

[2020-11-06 17:45] #156 closed

[2020-11-11 14:50] mahnunchik commented on #150
+1 also `shouldResetTimeout ` should be `true` by default

[2020-12-02 20:17] watsonbox commented on #72
In case it's useful I recently [implemented a rate limiting strategy](https://github.com/watsonbox/exportify/pull/75/files#diff-82be894eff44fefa4b9947fab234f0ac2966b9871d71b9beaed6848ea711536c) using [Bottleneck](https://github.com/SGrondin/bottleneck) as part of [this PR](https://github.com/watsonbox/exportify/pull/75), having come across this while I was looking at possible approaches.

It might

[2020-12-03 11:54] JeremyBradshaw7 opened #158 "Retrying without even waiting for response"
Trying this library for the first time in a react-native project. I'm finding that quite often an API call is retried immediately once, twice or even 3 times before the original call has even returned a response. I'm logging the retryCondition function and it never seems to be called:

[code]
Anyone any idea what's going on?

[2020-12-03 12:20] JeremyBradshaw7 commented on #158
I've logged another instance this time logging the error response:
![image](https://user-images.githubusercontent.com/36155348/101017114-90100180-3561-11eb-8757-09528adbe46c.png)

I think maybe axios-retry is working properly on a genuine failure but it's messing up the logging of the requests I'm doing via axios request and response interceptors.

[2020-12-10 08:31] nwaughachukwuma opened #159 "Argument of type 'AxiosInstance' is not assignable to parameter of type 'AxiosStatic | AxiosInstance'"
When I try to configure axiosRetry using an axios client as specified in the usage section of the [README](https://github.com/softonic/axios-retry#usage)

[code]

I get the following error:

Setup Info:
Platform: `macOS Mojave v10.14.6`
Typescript: `v4.1.2`
Node.js: `v12.18.3`

[2020-12-11 12:08] AimalKhanOfficial commented on #139
Is there any update on this? Stuck on the same problem. Axios registers a single call still. (as mentioned by @mesterjagels)

[2021-01-24 04:59] rastilin commented on #53
@slinkardbrandon

Thanks for your post. Our Cordova project doesn't have a defined .ts file to apply settings but your import method worked to solve the problem.

[2021-01-29 12:11] lukzerom commented on #112
+1 it would be a great feature ;)

[2021-02-02 06:29] roachadam opened #161 "bug?: retry not working"
Not quite sure how this happened, but I'm probably missing something stupid.

Code:
[code]
For whatever reason, I make a request with that same ax instance, get a 502 error, and it does not retry. I also uncommented the return true, and it still does not retry.

I thought it could be interfering with my other axios interceptor, but I turned that off and still the same issue persists.

win64 bit
no

[2021-02-07 13:40] hugebdu commented on #159
same here.

Platform: macOS Cataline v10.15.7
Typescript: v3.9.7
Node.js: v12.19.0

[2021-02-09 00:00] troykelly opened #162 "Not re-firing interceptors.request.use"
I can't see where we should regenerate headers in the retry process.

We use this to generate the Bearer - but it only ever gets called once, every retry reuses the bearer - which eventually falls outside of the allowed time difference and becomes invalid.

[code]

[2021-02-26 08:06] appukuttan-shailesh opened #164 "how to auto-retry after waiting pre-defined time for response"
I am using axios to make a GET request in my reactjs app. Here is a code snippet of how I am currently making this call:

[code]

What I find is that my GET requests work well most of the time, but around one out of 10 times they get stalled and remain in the pending state for a long time. During this time if I refresh the page, and redo the GET request, it works fine and returns a response immedi

[2021-02-28 16:55] KevinDanikowski commented on #164
use `retryDelay` https://stackoverflow.com/questions/56074531/how-to-retry-5xx-requests-using-axios#answer-64076585

[2021-03-01 09:09] appukuttan-shailesh commented on #164
If I am not wrong, `retryDelay` specifically deals with the delay between to successive retries. In my case I am happy to have this delay set to 0 ms (the default value I believe). With the timeout bit, I am finding it doesn't work properly (as seems to be the case with many people apparently - [see here](https://github.com/axios/axios/issues/647)).

[2021-03-10 08:20] cqcmdwym commented on #84
shouldResetTimeout naming is confusing me a lot, suggest to set true as default value

[2021-03-11 02:20] KevinDanikowski commented on #164
Here is my solution for using a different non-axios library for requests, you can use it here if you're having issues:

      const res = this.requestor(url, {
        ...options,
        timeout: timeout * 1000
      })
      // NOTE: this is done because got doesn't do the timeout correctly, should only be
      // necessary for certain clients as failsafe
      const callTimeout = setTimeout(()

[2021-03-11 08:55] appukuttan-shailesh commented on #164
Thanks for proposing an alternative solution @KevinDanikowski. I am going to try this out.

[2021-03-11 15:10] KevinDanikowski commented on #164
@appukuttan-shailesh  sounds good, I would recommend doing research into canceling axios calls, `cancel()` may not be the correct command.

[2021-04-02 14:00] qqfei1858 opened #165 "Multiple request retry"
My English is not good, sorry, please be patient and finish reading! It seems that axios-retry can only retry one request, but there are multiple real-time requests on the webpage, which cannot meet the needs of the project! Is there a setting or other scheme that can handle multiple requests and retry?

[2021-04-16 10:40] jrmyio opened #166 "Access axios-retry configuration from the error object and fix its types"
I am trying to add some logging by using the retryCondition as proposed in https://github.com/softonic/axios-retry/issues/134#issuecomment-623149861.

In the message I want to log the current retryCount and the total retries.
For example:  'Re-trying {url} (1/3 tries)'.

However, I cannot access the 'retries' config variable (which is the total amount of retries) from the `AxiosError `object.

The

[2021-04-27 08:52] bennycode opened #167 "TS2339: Property 'retryCount' does not exist on type 'IAxiosRetryConfig'."
I am using `axios-retry` with TypeScript and noticed that the [index.d.ts](https://github.com/softonic/axios-retry/blob/v3.1.9/index.d.ts) file does not include all properties of `axios-retry`.

Here is the code that I've tested:

[code]

The `retryCount` is not listed in `index.d.ts` but when logging `error.config['axios-retry']` in pure JavaScript, it shows up:

[code]

[2021-04-27 21:20] ffxsam commented on #161
Same here, non-working right out of the box. Pretty basic test, and I never see my `console.log` statement:

[code]

[2021-05-08 08:10] mprast opened #168 "bug: @types/axios is not listed as a peerDependency, even though index.d.ts references it"
Trying to use this package with yarn v2 & tsc and it's breaking because of this.  Any objections to adding it in? Happy to submit a PR if needed.

[2021-05-12 19:53] kmeshavkin commented on #159
I had that problem too - in my case it was old version of axios that caused this error (I had `v0.18.1`).

I also have yarn workspaces set up and axios was listed in one of workspace's `package.json` as `v0.21.1` (last version currently), but main `node_modules` still resolved to `v0.18.1` (probably due to some other dependency), so I added this to main `package.json` and now error is fixed:
[code

[2021-05-28 21:19] rosshudgins commented on #158
I think I'm seeing this issue as well. I have a response interceptor in order to calculate some metrics, but for retried calls I'm seeing the same metric log twice.

[2021-05-31 10:14] alexanderdavide commented on #150
@mahnunchik
Given an `axios` configuration with `timeout: 15` and `axiosRetry` set to multiple retries, am I right that due to `shouldResetTimeout` default being `false` no retries would be executed if the first execution timeouted? What would happen if I would not have configured a timeout in `axios`?

[2021-07-05 11:24] aliabbasmalik8 commented on #139
any update about this issue?

[2021-07-05 13:08] aliabbasmalik8 commented on #139
can manage like this way
describe('axiosRetry(axios, { retries, retryCondition })', () => {
  const AxiosInstance = axios.create()
  it('should execute for each retry', () => {
    let retryCount = 0
    axiosRetry(AxiosInstance, {
      retries: 3,
      retryCondition: error => {
        let flag = false
        // update flag on base of your conditions
        return flag
      },
      retryDe

[2021-07-27 20:39] seanohollaren opened #170 "Axios error swallowed by axios-retry when performing multipart/form-data uploads"
Hi there,

I have an app where I'm performing multipart/form-data POST uploads with `axios` and `form-data`, as outlined in their docs, in combination with `axios-retry`.  I recently had an issue where uploads were timing out and I tracked it down to requests which were attempting to upload a request body larger than the axios default limit of 10mb.  Normally, axios throws an error immediately rea

[2021-08-06 01:36] haltman-at opened #171 "Allow retrying on specified non-error responses"
Hi,

So, some web APIs will unfortunately not return an error as an HTTP error, but will instead give you a 200 OK and then put an error indicator in the response body.  I would like to be able to specify a condition to detect these error responses and retry on them.

Right now, this is impossible; only axios errors are passed to the `retryCondition`.  OK responses are simply assumed to not requir

[2021-08-27 04:14] coolaj86 opened #172 "tsc doesn't like the default export"
In order for Type Linting to work, both axios and axios-retry have to be required by their default export:

[code]

1. Without using the default export, `tsc` goes nuts thinking that it's the wrong type.
2. With the default export, `tsc` is happy... but `default` doesn't actually exist.

This leads me to believe that index.d.ts is being generated in a way that's contrary to the export methods that

[2021-09-21 09:35] loun4 opened #175 "Wrong TS type for axios-retry with interceptor config"
`axios-retry` does not have the correct type from interceptor config.

![screenshot2](https://user-images.githubusercontent.com/1511512/134147344-35d39825-0991-4401-b55d-957f4634d3d7.png)

![screenshot](https://user-images.githubusercontent.com/1511512/134146557-43fbeb88-d655-47ae-88b4-983919389a2d.png)

[2021-10-05 10:52] nick-fytros opened #177 "Latest change (v3.2.0) causes error in older browser versions"
Hello,

With the latest change added there are issue when running it in older browser version. The error is `Uncaught SyntaxError: Unexpected token function` and it's due to the `async` keyword at https://github.com/softonic/axios-retry/blob/4f62bc889ce2c1f525c6947672630c1eaf2f2241/es/index.js#L129.
The target babel target is `es2015` which doesn't support `async function`s.
It should either chang

[2021-10-11 09:50] wjureczka commented on #159
Hi there!
I have the same problem:
Node.js: 14.15.2
TypeScript: 4.2.4
Platform: macOS

package.json:
`
 "axios": "0.19.2",
 "axios-hooks": "2.7.0",
 "axios-retry": "3.2.0",
`
![image](https://user-images.githubusercontent.com/24592871/136770145-6beda4fd-70bf-4977-a835-68bbf029cbb5.png)

[2021-10-14 14:44] gjasny opened #179 "Cannot find @babel/runtime in index.js"
Hello,

While running jest on a renovated branch `(3.2.0 -> 3.2.1)` I get the following error:

[code]

Is the `@babel/runtime` dependencies missing?

Thanks,
Gregor

[2021-10-14 15:07] #179 closed

[2021-10-15 07:16] sksuryan opened #180 "axios-retry incompatible with node 15.14.0"
Hey, so yesterday with the latest updates to axios-retry it stopped working with Node **15.14.0**. This seems to be related to the commit `03f9603` which adds `engines` property to `package.json`.
I understand that 15.14 is not supported by Node anymore, but just wanted to ask if that was the only reason.

Thanks! Have a good day(or night *timezones :P*)!

[2021-10-15 10:46] sksuryan commented on #180
But if I'm not wrong, axios itself supports node v15.14.0 so why make axios-retry incompatible with it.

[2021-10-15 20:43] charleshimmer opened #181 "TypeError axiosRetry is not a function"
One of our libraries deps has axiosRetry as a dep and with version 3.2.2 typescript can't compile axiosRetry (TS version 4.4.x). Says axiosRetry is not a function. Earlier versions work fine.

[2021-10-18 07:26] raj1905 commented on #181
![image](https://user-images.githubusercontent.com/69901257/137686475-18d52746-4051-4cd6-b071-a66ce34e06df.png)
Same issue

[2021-10-18 21:41] halex5000 opened #183 "Breaking change in engines in minor version update"
With the recent change to engines config represents a breaking change in a minor version change.

From a `semver` standpoint, it feels like the change to engines to add strictness in supported versions would be reserved for a major version bump.

For those of using modules where `axios-retry` is a transitive dependency where the `axios-retry` is `^3.2.x` we're forced to take the new version. When

[2021-10-19 08:25] #181 closed

[2021-10-19 08:32] #183 closed, assigned to nobody

[2021-10-19 08:32] #180 closed, assigned to nobody

[2021-10-20 20:36] JeremyBradshaw7 opened #184 "axios-retry has been ignored because it contains invalid configuration"
Getting this warning in the metro bundler:

`warn Package axios-retry has been ignored because it contains invalid configuration. Reason: Package subpath './package.json' is not defined by "exports" in /Users/jeremybradshaw/ccf/node_modules/axios-retry/package.json`

axios-retry 3.2.3

[2021-10-27 03:48] ritwikvd opened #185 "Query: Why is error code ECONNABORTED not retried?"
I can see this check in `isRetryableError` and was curious as to why timed out requests are not suitable for retries even with idempotent methods.

[2021-10-27 05:23] ritwikvd opened #186 "Query: How can I determine that a request is from axios-retry"
Is there anyway this is possible? I have an interceptor that logs errors to an API, and I would like to log it once for the original failed request and avoid duplicates that would be caused by subsequent retry failures.

[2021-10-27 07:52] #186 closed, assigned to nobody

[2021-10-27 07:52] #185 closed, assigned to nobody

[2021-10-27 12:38] #184 closed, assigned to nobody

[2021-10-30 11:25] amiralitaheri commented on #90
@mawrkus Any update on this feature?

[2021-11-30 22:42] binarykitchen opened #189 "Callback function when one retry was successful"
Would be great to have such a new option. Because we want to log only successful retries, not those which were successful without a retry.

This to examine some other issues with our infrastructure. Thanks.

[2021-12-01 09:35] mindhells commented on #189
maybe related with this https://github.com/softonic/axios-retry/pull/174
so basically, if the request is successful and the number of retries is greater than 0... you got it

[2021-12-03 18:58] schmidlidev commented on #161
This library seems to just... not work? I even tried:

and could not get this library to ever perform a retry.
Ended up using https://www.npmjs.com/package/retry-axios instead.

[2021-12-09 18:29] geoffrich commented on #161
I ran into this issue, and for me it was caused by my Axios version. 0.21.2 introduced a bug that [0.21.3](https://github.com/axios/axios/blob/master/CHANGELOG.md#0213-september-4-2021) fixed. Updating Axios caused the retries to succeed.

That likely isn't the cause of OP's issue, since they created this issue in February and 0.21.2 was released in September, but wanted to comment in case someone

[2021-12-11 06:25] idanudel commented on #170
@seanohollaren did you find a solution for this one?
I got the same issue

[2021-12-12 19:11] amiram commented on #175
Axios 0.24.0
axios-retry 3.2.4

[2021-12-20 07:56] say8425 commented on #171
https://github.com/softonic/axios-retry/issues/100#issuecomment-627626160

[2021-12-21 17:55] Romick2005 opened #190 "isNetworkOrIdempotentRequestError should return boolean"
[code]

Where  `isNetworkError(error: Error): boolean` and `isNetworkOrIdempotentRequestError(error: Error): boolean`.
So I assume that `isNetworkOrIdempotentRequestError` should return only boolean and not a promise as here:
https://github.com/softonic/axios-retry/blob/00439f4a9bde3cfe5f9c6f69b22af2b941d7c38e/es/index.mjs#L60
but declared good: `isNetworkOrIdempotentRequestError(error: Error): bo

[2021-12-21 18:05] Romick2005 commented on #114
Because you explicitly specify that
[code]
That means that 204 requests counts as failed, but they are ok and valid responces!

[2021-12-21 22:50] 1toddlewis opened #191 "Supporting Retries after Receiving 202 Status"
Enhancement request:

axios-retry was written to retry failed requests. However, its internal code is also very useful for dealing with 202 responses for the delayed generation of API data. Since axios-retry is creating request and response interceptors with null functions for successful requests, and because axios itself controls the determination of success vs. failure, axios-retry can never be

[2021-12-22 16:11] hsouna commented on #100
Exactly as @rgalanakis said I'm working with an API that returns 202 if the job is not finished yet! So I think it should be a good idea to add this functionality!

[2022-01-03 12:30] dana-blanc-healthy opened #192 "TypeError: retryDelay is not a function"
Hi,

I have an app where I'm performing POST requests with Axios version 0.24.0 and axios-retry version 3.2.4.
My code:

[code]
I had failures before, and I didn't get any message, however today I had a failure and I got the following message:

[code]

[2022-01-03 14:07] nirpeer commented on #158
I'm also getting the success response twice in the `axios.interceptors.response`, and not one failure response and a successful one.
How can we deal with this issue?

By the way, the request interceptor also fired twice, but i write different logs with the attempt number, so in that case it's great.
But getting the same valid response twice on a failure+success responses is not that nice :)

[2022-01-08 08:05] Rey-Wang commented on #191
plus 1, even support for 200 request

[2022-01-10 08:21] mindhells commented on #191
https://github.com/softonic/axios-retry/issues/100#issuecomment-627626160

[2022-01-10 10:53] CyberT33N opened #193 "Retry not working with validateStatus from axios"
Hello :)

When I use **validateStatus** from axios then axios-retry is not working anymore. If I return **false** instead of true inside of validateStatus then axios-retry is working again. Can anybody explain to me why it is not working anymore when I return true?

[code]

[2022-01-10 13:56] mindhells commented on #193
see this comment here https://github.com/softonic/axios-retry/issues/100#issuecomment-627626160

with validateStatus you can make axiosRetry to retry even for 2xx responses by returning false, on the other hand if you return true you prevent it from working because axiosRetry would only retry when the promise is rejected

[2022-01-10 21:37] CyberT33N commented on #193
Thank you @mindhells for your quick answer! This is working doe but sadly axios will throw a error with this logic. I basically want to use validateStatus to prevent axios to throw a error.

Sample code for https://github.com/softonic/axios-retry/issues/100#issuecomment-627626160
[code]

[2022-01-18 10:14] Vinayjinugu-gep commented on #164
I am looking for a solution for this problem, @appukuttan-shailesh did you find any good solution for the problem mentioned?

[2022-01-18 10:40] appukuttan-shailesh commented on #164
Not really. I think the target server performance improved and I stopped getting these issues. So didn't really pursue this further. But I don't think I had arrived at a proper axios based solution.

[2022-01-18 17:46] ledniy commented on #191
Workaround with interceptor and custom error:
[code]

[2022-01-18 17:49] 1toddlewis commented on #191
Interesting. I ended up solving this problem by also implementing interceptors, but I didn't think about using them to throw a custom error that axios-retry would then process. Nice approach!

[2022-01-18 17:50] #191 closed

[2022-01-18 18:10] ledniy commented on #100
Workaround with interceptor and custom error
[code]

[2022-01-19 07:56] #193 closed

[2022-01-19 08:00] mindhells commented on #100
As there are different workarounds for this explained in this thread, and in agreement with the discussion in #88, we won't make this part of the responsibility of the library, thus I'm closing this issue.
Thanks everyone for your contributions.

[2022-01-19 08:00] #100 closed

[2022-01-19 08:02] mindhells commented on #53
This issue should be fixed with the latest updates.
Please, feel free to reopen it in case you experience this issue again.

[2022-01-19 08:02] #53 closed

[2022-01-19 08:16] mindhells commented on #65
you can easily set you `retryCondition` using this library API as described in the README

[2022-01-19 08:16] #65 closed

[2022-01-19 08:17] #89 closed

[2022-01-19 08:19] #67 closed

[2022-02-03 14:33] JSEvgeny commented on #139
Need an update on this one too

[2022-02-03 14:38] JSEvgeny commented on #161
Doesn't work with `axios: 0.21.1` neither

[2022-02-08 15:36] stasoft91 commented on #139
Test:
[code]

downloaderMapper:
[code]

Though I`m not sure if the exact number of retries could be tested because of race conditions, it tests the fact of retry. I`m sure because with `retries: 1` test fails

[2022-02-17 15:23] dstone1983 opened #194 "retryCondition calling a healthcheck api"
Hello All,

I am implementing retry logic to my system. I am attempting to only retry if the health check api comes back successful. It seems to be retrying no matter what.

doing a:

`retryCondition:() => false`

works

`retryCondition: async () => {
  try {
    await axios.get(healthcheckurl)
    return true
  } catch(error) {
    return false
  }
}
`

Is there a way to achievce this? I don't wa

[2022-02-27 17:05] balmacefa commented on #194
retryCondition is call is Axios return an Error

[2022-02-27 17:25] balmacefa commented on #194
try this https://github.com/JustinBeckwith/retry-axios

[2022-03-03 10:32] xisvaldo commented on #159
Hello, same error here, any updates?

Node.JS 16.13.1
TypeScript 4.6.2
Axios 0.24.0
Axios Retry 3.2.4
Linux

[2022-03-21 10:07] copostic commented on #181
I still have the error on 3.2.4, it only works when I fix the version to 3.2.0.

[2022-03-29 19:40] seanohollaren commented on #170
I never found a resolution for axios-retry not throwing an error and I still believe it's likely an issue with the module.  For fixing the underlying error that was causing axios to throw, I fixed it by setting `maxBodyLength` manually.

[2022-03-30 05:11] phattranky commented on #170
@idanudel @seanohollaren

If you read the source code of this repo. You can see it doesn't support the method `POST` by default. You have to use the custom retryCondition like the below code

[code]

![Screen Shot 2022-03-30 at 12 09 49 PM](https://user-images.githubusercontent.com/6443154/160755674-78baeb08-c78f-4f05-b417-6389242e143e.png)

[2022-03-30 05:14] phattranky commented on #170
Here is the default retryCondition from `axios-retry` source code

![33index js — report-html 2022-03-30 12-13-32](https://user-images.githubusercontent.com/6443154/160756155-b4066673-9bbc-42c7-95fb-077c5eb38c04.png)

[2022-04-16 12:36] shaunkh commented on #159
Was this ever solved? @rubennorte

[2022-04-20 00:19] seand7565 commented on #181
Using 3.2.4, I'm also getting this error. Looks like `require('axios-retry')` is returning an object instead of a function.
[code]
gives us:
[code]

[2022-04-21 09:48] safeimuslim commented on #139
Hi, any best solution for this one?

[2022-04-21 10:53] stasoft91 commented on #139
@safeimuslim every solution here is the best one, choose wisely =)

[2022-04-29 00:24] chriskovacs commented on #181
Same here. Only works after fixing the version to 3.2.0

[2022-04-29 01:51] PeterChen1997 commented on #190
You have missing that user can pass a promise to the retryCondition. The default function is no need for promise, that's right

[2022-04-29 10:02] mindhells commented on #181
I cannot reproduce your issue with these simple steps:
[code]
index.js containing your script
npm installing axios-retry 3.2.4
the output:
[code]

[2022-05-05 13:20] diasmatheus05 opened #198 "No version specified in description file"
Hello All,

I'm using this library in version 3.2.5 and I'm getting the following warning

[code]

Does anyone know how to solve?

[2022-05-06 16:34] #194 closed

[2022-05-06 16:35] #189 closed

[2022-05-12 10:07] Nicvaniek opened #199 "Axios interceptors called incorrectly when using axios-retry"
#### Bug description
When registering success and error response interceptors on the axios instance and axios-retry is used, failed retries cause the success interceptor to be called on retry instead of the error interceptor.

#### To Reproduce
Link to code sandbox: [Axios retry example](https://codesandbox.io/s/axios-retry-example-h7b4jj?file=/src/App.js)

Steps:
1. Open the console
2. Click on t

[2022-05-12 10:08] JPStrydom commented on #199
We're also experiencing this issue

[2022-05-13 11:33] mindhells commented on #199
Change your error interceptor to this:

[code]

[2022-05-13 14:25] JPStrydom commented on #199
Would
[code]
Achieve the same? 🤔

[2022-05-13 18:49] mindhells commented on #199
I believe at least the success interceptor won't be called. Not sure if other registered error interceptors would be called though. You can try yourself using the example kindly provided by @Nicvaniek

[2022-05-20 17:50] #199 closed

[2022-05-20 17:52] mindhells commented on #198
@diasmatheus05 can you provide more context? maybe some steps to reproduce the problem

[2022-05-20 18:10] mindhells commented on #175
I believe it's not defined in the type because it's the internal state of a particular request.

[2022-05-20 18:10] #175 closed

[2022-05-20 18:10] #172 closed

[2022-05-20 18:10] #171 closed

[2022-05-20 18:12] #170 closed

[2022-05-20 18:14] mindhells commented on #167
retryCount is internal state of a particular request, I believe that's the reason it's not defined in the type

[2022-05-20 18:14] #167 closed

[2022-05-20 18:16] mindhells commented on #165
axios-retry configures interceptors on the axios client parameter
that interceptor applies to all the supporter requests

[2022-05-20 18:16] #165 closed

[2022-05-20 18:17] #135 closed

[2022-05-20 18:18] #161 closed

[2022-05-26 08:36] Rey-Wang commented on #112
any update on this?

[2022-05-26 08:47] mindhells commented on #112
have a look at #199

[2022-05-31 09:37] yg205444 opened #200 "IS IE11 SUPPORT?"
hello, is anyone who know axios-retry in internet explorer 11 is supported?

We found grammatical error in our chunk-vendors.xxx.js

thanks

[2022-05-31 10:30] #200 closed

[2022-06-01 11:14] eduhh94 commented on #74
@darrylmabini do the following:

axiosInstance.interceptors.response.use(
  function (response) {
    // Any status code that lie within the range of 2xx cause this function to trigger
    // Do something with response data
    if (response.data.metrics.length === 0) {
      response.status = 500;
      throw response;
    }

    return response;
  },
  function (error) {
    console.log('intercep

[2022-06-16 07:55] Shogobg commented on #150
I can also confirm this unexpected behavior - just spent a couple of hours debugging my application, until I noticed the request was just not sent.

[2022-06-24 06:16] KrayzeeKev commented on #164
I'm just after the very simple behaviour of "retry on timeout". I can't work out how to make this happen. If the network is flaky, some requests just die. Axios eventually times out. This is not a 50x error. It's a timeout. I want to try a few times before giving up. I know that in 99 times out of 100, the second request will succeed. It seems oddly difficult to achieve this. The source SPECIFICAL

[2022-06-24 06:33] KrayzeeKev commented on #164
Found my solution:
retryCondition: err => err.code === 'ECONNABORTED' || axiosRetry.isNetworkOrIdempotentRequestError(err)

[2022-07-12 17:29] dominics opened #206 "axios-retry non-ESM export change reproduction (formerly: TypeError: axiosRetry is not a function)"
Hello! I saw #181 and I think I'm experiencing something similar when trying to bundle a dependency (analytics-node) that happens to require axios-retry. The library in question loads `axios-retry` with `require()`, and Webpack seems to bundle the ESM export by default, but only post-3.2.0 (i.e. a breaking change since then)

[#181](https://github.com/softonic/axios-retry/issues/181) didn't have g

[2022-07-12 17:35] dominics commented on #181
I have reopened this issue with a reproduction as #206

[2022-07-12 17:54] dominics commented on #206
Updated the repro repo to have versions 3.2.1 and 3.3.1 as well as the original 3.2.0 and 3.2.4 that were relevant to #181

[2022-07-13 08:16] mindhells commented on #206
And BTW, @dominics thanks a lot for taking the time to create the example.

[2022-07-26 20:27] rainrisa opened #207 "Max number of retry"
How much retries can we do? Can i set the number of retry to let's say 12000?

[2022-08-16 04:23] M4FFS commented on #159
+1

[2022-08-26 12:25] gimyboya commented on #207
You can, but you most probably shouldn't. Depending on your scenario you don't want your app to run out of memory or the API you are calling to get overwhelmed by calls that even if they fail, will keep retrying for 12000 times.

[2022-08-30 14:18] HaimCandiTech commented on #139
I think the best approach is to use nock and do like the way [axios-retry test itself](https://github.com/softonic/axios-retry/blob/master/spec/index.spec.mjs)

[2022-09-02 14:22] dls314 commented on #168
I'm curious to learn what you've seen as patterns in this scenario.

`@types/axios` would be a sad thing to carry as a dependency as it should contain only type information and no impact on runtime code. But there's no such declaration as `peerDevDependency` -- which is kind of what is necessary if I understand it right.

I've tried using `import type` to be more explicit in some places, but I'm n

[2022-09-06 09:31] abh006 opened #209 "Feature Request: Retrying requests based on response data instead of response code"
As per the current scenario, requests are retried once they are failed which means the status code should be anything but OK.
I have a situation where the status code is 200 but I get an error message in response.
If I could specify some custom condition to trigger the retry, instead of checking the status code, that would be better.

[2022-09-06 16:28] mindhells commented on #209
check `retryCondition`
or this #100

[2022-09-06 16:28] #209 closed

[2022-09-07 12:52] himanshufize commented on #207
@rainrisa I think 3 will be justified count and max 5 as there could be case of rate limit from API we using.

[2022-09-22 20:34] liao02x opened #210 "Change the axios config when retry based on the error"
Hi, in our use case we need to use a different URL if the backend returns a specific error.
I saw some examples where you can use `config["axios-retry"].retryCount` in a different interceptor to change the config if it's a retried call, but it doesn't provide the previous error so it's not doable in this approach.
There is also the `onRetry` API which does provide the previous error and the config

[2022-09-23 03:52] #210 closed

[2022-09-28 12:03] rgoomes commented on #166
This. I believe `retry-axios` does this and export the type.

[2022-09-28 20:30] mriedem commented on #134
Was this fixed with #202?

[2022-09-29 13:10] #134 closed

[2022-09-29 13:25] mindhells commented on #207
I believe the question has been answered

[2022-09-29 13:25] #207 closed

[2022-10-03 18:14] einhaus opened #211 "Memory leak when using axios-retry"
It seems anytime I use axios with axios-retry enabled, the response returned by the request stays in memory and never gets garbage collected.  If I simply comment out the axiosRetry block of code the response does not stay in memory and is garbage collected properly.

I am using axios@0.27.2 and axios-retry@3.3.1, there's nothing special about my implementation:

axiosRetry(axios, {
    retries: 5

[2022-10-15 08:36] StErMi commented on #75
Hi there, is there a way to access the `retryCount` also from the `retryCondition` callback?

[2022-10-19 06:30] weeniearms opened #212 "TypeError [ERR_INVALID_CHAR] when using with axios@1.x"
When using with the lastest version of axios (1.x) I get the following error:
[code]
Steps to reproduce:
1. Run the following server code:
[code]
2. Execute the following client code:
[code]

[2022-10-19 08:22] skorponek opened #213 "axios-retry does single retry only when used with axios@1.1.3"
axios-retry is configured to do 2 retries:

`
...
    axiosRetry(this.httpClient, {
      retries: 2,
      retryCondition: isNetworkOrIdempotentRequestError,
      onRetry: this._onRetry
    }
...
`

onRetry logs warnings about retry attemps and jest + nock is used to test this with toHaveBeenCalledTimes, which fails unit test as there is just 1 retry counted, although 2 are expected.

- OK: 2 wa

[2022-10-21 07:06] kuizuo commented on #212
I also have this situation.

My environment:
- node:  16.15.1
- axios 1.1.3
- axios-retry 3.3.1

[2022-10-21 16:28] redochka opened #214 "in case of post request, request body is now posted"
in case of post request, request body is now posted

[2022-10-21 21:07] mathieucoinmiles opened #215 "How do we debug the project?"
Hi there!

Let me begin with thanks for the open-source project! Now with the issue!

There's little to no documentation on your project, how do you debug the jasmine tests with `spec.mjs` files? I'm trying to create a PR, but I can't debug the project to verify my test is valid, could you please help me figure this out, I don't mind including more documentation in my PR, just let me know how I'm

[2022-10-21 21:18] paulsouche commented on #213
Hello ! There is an opened PR on axios to fix that https://github.com/axios/axios/pull/5090

[2022-10-21 21:19] paulsouche commented on #212
Duplicate of #213 There is an opened PR on axios https://github.com/axios/axios/pull/5090

[2022-10-22 00:10] mathieucoinmiles commented on #215
I found how, I implemented the vs code configuration in this repository, will do a PR

[2022-10-22 01:35] mathieucoinmiles commented on #215
New patched version for async `onRetry` including VS Code configuration available here: https://www.npmjs.com/package/@coin-miles/axios-retry

[2022-10-25 07:42] m-swat opened #217 "Failed to execute 'setRequestHeader' on 'XMLHttpRequest'"
Hi,
i'm getting error like 'Failed to execute 'setRequestHeader' on 'XMLHttpRequest'' on 5xx error when retrying should occur.

`SyntaxError:Failed to execute 'setRequestHeader' on 'XMLHttpRequest': 'function(header, parser) {
    header = normalizeHeader(header);

    if (!header) return undefined;

    const key = findKey(this, header);

    if (key) {
      const value = this[key];

      if (!

[2022-10-25 08:19] m-swat commented on #217
As I see, a similar problem occurs in node environment, not only in the browser(problem with setting header):

`[ERR_INVALID_CHAR]: Invalid character in header content ["0"]
    at ClientRequest.setHeader (_http_outgoing.js:564:3)
    at new ClientRequest (_http_client.js:262:14)
    at Object.request (https.js:370:10)
    at RedirectableRequest._performRequest (/home/mswat/workspace/test-axios/no

[2022-10-26 09:23] m-swat commented on #217
issue related to: https://github.com/axios/axios/issues/5089

[2022-10-26 09:23] #217 closed

[2022-11-02 12:20] mindhells commented on #213
I believe based on @paulsouche comment we can close this

[2022-11-02 12:20] #213 closed

[2022-11-02 12:20] mindhells commented on #212
I believe based on @paulsouche comment we can close this

[2022-11-02 12:20] #212 closed

[2022-11-11 16:39] maxharlow opened #218 "Headers get lost when retrying"
Retried requests seem to lose the configured headers. For example this:

[code]

Produces this output:

[code]

So you can see the authorisation header has been lost on the retried request, replaced with `'[object Object]': undefined`.

I'm using Axios v1.1.3 and Axios Retry v3.3.1.

[2022-11-15 08:02] HpSurani1997 commented on #218
I have also same issue with Axios v1.1.3. upgrade axios version to 1.2.0-alpha.1. it is work for me.

[2022-11-30 22:29] meshuamam commented on #138
Axios does set an `error.code` on network errors:
https://github.com/axios/axios/blob/786b113a40011faaee95da0b02eaa7de06944d7a/lib/adapters/xhr.js#L154